<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="site-title">
        <a href="https://amuchbettertax.org">A MUCH BETTER TAX</a>
        <p>FOR A MORE PRODUCTIVE AND FAIRER AUSTRALIA</p>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="https://amuchbettertax.org">Home</a></li>
        <li><a href="https://amuchbettertax.org/what-is-an-igtt">What Is An IGTT?</a></li>
        <li><a href="https://amuchbettertax.org/arguments-for-and-against">Arguments For And Against</a></li>
        <li><a href="/designing-an-igtt">Designing an IGTT</a></li>
        <li class="dropdown">
          <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Supporters <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="https://amuchbettertax.org/honorary-supporters">Honorary Supporters</a></li>
            <li><a href="https://amuchbettertax.org/notable-supporters">Notable Supporters</a></li>
            <li><a href="/new-supporters">New Supporters</a></li>        
          </ul>

        <li><a href="https://amuchbettertax.org/conjectures-and-refutations-a-blog">Conjectures And
            Refutations: A
            Blog</a>
        </li>
        <li class="donate-link">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations" />
            <input type="hidden" name="business" value="nereus2025@icloud.com" />
            <input type="hidden" name="currency_code" value="AUD" />
            <input type="submit" value="DONATE" name="submit" title="PayPal - The safer, easier way to pay online!"
              alt="Donate with PayPal button" class="paypal-submit" />
            <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </li>
      </ul>
      <ul class="nav" id="login-nav">
        {{#if user}}
        <li class="nav-right email-menu-item">
          <p class="email-user">{{user.firstName}} {{user.lastName}} ({{user.email}})</p>
        </li>
        <li class="nav-right login-bg"><a href="/user/logout?ref={{pageName}}">Logout</a></li>
        {{else}}
        <li class="nav-right login-bg"><a href="/user/login?ref={{pageName}}">Login</a></li>
        {{/if}}
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
