<div>
  <h4>Supporters</h4>
  <p><i>I support consideration of proposals for a universal, moderate tax on transfers of inter-generational wealth
      with the aim of making Australia’s system of taxation and expenditure more sustainable, effective, efficient and
      fair.</i></p>
      <p class="table-counter"> Total number of Supporters: <span id="counter"></span>
      </p>
      </p>
  <table class="table petition-table">
    <thead>
      <tr class="table-heading">
        <th class="text-center"></th>
        <th class="text-center">Current Supporters</th>
        <th class="text-center">Occupation</th>
        <th class="text-center">Postcode</th>
      </tr>
    </thead>
    {{#each supporters}}
    <tr>
      <th>{{counter}}</th>
      <td class="text-center">{{this.title}} {{this.firstName}} {{this.lastName}}</td>
      <td class="text-center">{{this.occupation}}</td>
      <td class="text-center">{{this.postcode}}</td>
    </tr>
    {{/each}}
  </table>
</div>
