{{#if user}}
{{#if user.supporter}}
<p>Thank you for your support!</p>
<form method="post" action="/user/unsign">
    <input type="checkbox" checked="checked" onChange="this.form.submit()">
    <label>If you would like to opt-out and take your name off the supporters list, please un-check this box.</label>
</form>
{{else}}
<form method="post" action="/user/sign">
    <input type="checkbox" onChange="this.form.submit()">
    <label>If you would like to add your name to the supporters list, please check this box.</label>
    <label>In doing so I agree I will only flag my support once on this site.</label>
</form>
{{/if}}
{{else}}
<P>Please register and <a class="login-link" href="/user/login?ref=new-supporters">log-in</a> to add your support to the
    list. Consider
    making a donation, however small.</P>
{{/if}}