{{> nav}}
<div class="container container-body">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-50 p-b-90">
        <form class="login100-form validate-form flex-sb flex-w" method="post">
          <span class="login100-form-title p-b-51">
            <h2>Forgot Password</h2>
          </span>
          {{#if sent}}
          <p class="center-align">Success! Your reset link has been emailed.</p>
          {{else}}
          {{#if noEmail}}
          <p class="center-align">We could not find your email address. Would you like to <a
              href="/user/register">register</a>?</p>
          {{else}}
          {{#if invalid}}
          <p>Your password reset link was invalid, please request a new link below.</p>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Email is required">
            <input class="input100" type="email" name="email" placeholder="Email">
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn">
              Submit
            </button>
          </div>
          {{else}}
          <p class="center-align">Submit your email below for a link to reset your password.</p>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Email is required">
            <input class="input100" type="email" name="email" placeholder="Email">
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn">
              Submit
            </button>
          </div>
          {{/if}}
          {{/if}}
          {{/if}}
        </form>
      </div>
    </div>
  </div>

  <div id="dropDownSelect1"></div>

</div>