<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}} | A Much Better Tax</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

    {{{body}}}


    <footer class="footer">
        <div class="inner">
            <ul class="bs-docs-footer-links">
                <li>
                    <a href="https://amuchbettertax.org/governance-accountability">Governance</a>
                </li>
                <li>|</li>
                <li>
                    <a href="https://amuchbettertax.org/faq">FAQ</a>
                </li>
                <li>|</li>
                <li>
                    <a href="https://amuchbettertax.org/rules-and-guidance">Rules and Guidance</a>
                </li>
                <li>|</li>
                <li>
                    <a href="https://amuchbettertax.org/technical-notes">Technical Notes</a>
                </li>
                <li>|</li>
                <li>
                    <a href="https://amuchbettertax.org/acknowledgements">Acknowledgements</a>
                </li>
                <li>|</li>
                <li>
                    <a href="https://amuchbettertax.org/about-nereus">About Nereus</a>
                </li>
                <li>|</li>
                <li>
                    <a href="https://amuchbettertax.org/contact">Contact</a>
                </li>
            </ul>
            <small class="copyright">Copyright © Better Public Policy, 2019</small>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="/js/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>
