{{> nav}}
<div class="container container-body">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="post">
					<span class="login100-form-title p-b-51">
						<h2>Login</h2>
					</span>
					{{#if noUser}}
					<p class="center-align account-error">Could not login. Did you <a class="login-link"
							href="/user/forgot">forget your
							password?</a></p>
					{{/if}}
					{{#if accountCreated}}
					<p class="center-align">Your account has been created, please check your email to activate your
						account.</p>
					{{/if}}
					{{#if accountVerified}}
					<p class="center-align">Your account has been activated, you may now log in below.</p>
					{{/if}}
					{{#if notVerified}}
					<p class="center-align account-error">Your account has not been verified yet, please check your
						email to activate
						your
						account.</p>
					{{/if}}
					<div class="wrap-input100 validate-input m-b-16" data-validate="Email is required">
						<input class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
					</div>
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					<p>Don't have an account yet? <a class="login-link" href="/user/register">Register</a> now to save
						your progress.</p>
					<p><a class="login-link" href="/user/forgot">Reset your password.</a></p>
				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>

</div>