{{> nav}}
<div class="page-banner">
    <div class="page-banner-inner">
        <h1 class="page-title">New Supporters</h1>
    </div>
</div>
<div class="wrapper container">
    <div class="wrapper-inner row">
        <div class="container-body col-sm-12">

            <div class="inner ">
                {{> support_form }}
                {{> supporters_table }}
            </div>
        </div>
    </div>
</div>