{{> nav}}
<div class="container container-body">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="post">
					<span class="login100-form-title p-b-51">
						<h2>Register</h2>
					</span>
					<p class="center-align">
						Register to save your progress.
					</p>
					{{#if accountExists}}
					<p class="center-align account-error">An account already exists with this email.</p>
					{{/if}}
					{{#if userNotFound}}
					<p class="center-align account-error">An account could not be found for this user. Please register
						below before verifying your account.</p>
					{{/if}}
					{{#if expiredToken}}
					<p class="center-align account-error">The activation token for this account has expired. Please
						register again and a new link will be emailed to you.</p>
					{{/if}}
					{{#if invalidToken}}
					<p class="center-align account-error">This activation link is invalid. Please use the link sent to
						you at the email address provided.</p>
					{{/if}}
					<div class="wrap-input100 validate-input m-b-16">
						<select class="input100" name="title">
							<option value=" " selected="selected">Title</option>
							<option value=""></option>
							<option value="Mr">Mr </option>
							<option value="Mrs">Mrs </option>
							<option value="Ms">Ms </option>
							<option value="Miss">Miss </option>
							<option value="Dr">Dr </option>
							<option value="Professor">Professor </option>
							</select>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="First name is required">
						<input class="input100" type="text" name="firstName" maxlength="25" placeholder="First Name"
							required>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Last name is required">
						<input class="input100" type="text" name="lastName" maxlength="25" placeholder="Last Name"
							required>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Email is required">
						<input class="input100" type="email" name="user" placeholder="Email" required>
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="Password" required
							pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
							title="Password must conatain: 6 or more characters, at least 1 number, at least 1 lowercase character & at least 1 uppercase character">
					</div>
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="number" name="postcode" placeholder="Postcode" min="0000"
							max="9999">
					</div>
					<div class="wrap-input100 validate-input m-b-16">
						<select class="input100" name="occupation">
							<option value="Not Supplied" selected="selected">Occupation</option>
							<option value="Manager/Executive - Chief Executives, General Managers and Legislators">
								Manager/Executive - Chief Executives, General Managers and Legislators</option>
							<option value="Manager/Executive - Farmers and Farm Managers">Manager/Executive - Farmers
								and Farm Managers</option>
							<option value="Manager/Executive - Specialist Managers">Manager/Executive - Specialist
								Managers</option>
							<option value="Manager/Executive - Hospitality, Retail and Service Managers">
								Manager/Executive - Hospitality, Retail and Service Managers</option>
							<option value="Manager/Executive - Other Manager/Executive">
								Manager/Executive - Other Manager/Executive</option>
							<option value="Professionals - Arts and Media Professionals">Professionals - Arts and Media
								Professionals</option>
							<option value="Professionals - Business, Human Resource and Marketing Professionals">
								Professionals - Business, Human Resource and Marketing Professionals</option>
							<option value="Professionals - Design, Engineering, Science and Transport Professionals">
								Professionals - Design, Engineering, Science and Transport Professionals</option>
							<option value="Professionals - Education Professionals">Professionals - Education
								Professionals</option>
							<option value="Professionals - Health Professionals">Professionals - Health Professionals
							</option>
							<option value="Professionals - ICT Professionals">Professionals - ICT Professionals</option>
							<option value="Professionals - Legal, Social and Welfare Professionals">Professionals -
								Legal, Social and Welfare Professionals</option>
							<option value="Professionals - Other Professionals">Professionals -
								Other Professionals</option>
							<option value="Technicians and Trades Workers - Engineering, ICT and Science Technicians">
								Technicians and Trades Workers - Engineering, ICT and Science Technicians</option>
							<option value="Technicians and Trades Workers - Automotive and Engineering Trades Workers">
								Technicians and Trades Workers - Automotive and Engineering Trades Workers</option>
							<option value="Technicians and Trades Workers - Construction Trades Workers">Technicians and
								Trades Workers - Construction Trades Workers</option>
							<option
								value="Technicians and Trades Workers - Electrotechnology and Telecommunications Trades Workers">
								Technicians and Trades Workers - Electrotechnology and Telecommunications Trades Workers
							</option>
							<option value="Technicians and Trades Workers - Food Trades Workers">Technicians and Trades
								Workers - Food Trades Workers</option>
							<option value="Technicians and Trades Workers - Skilled Animal and Horticultural Workers">
								Technicians and Trades Workers - Skilled Animal and Horticultural Workers</option>
							<option value="Technicians and Trades Workers - Other Technicians and Trades Workers">
								Technicians and Trades Workers - Other Technicians and Trades Workers</option>
							<option value="Community and Personal Service Workers - Health and Welfare Support Workers">
								Community and Personal Service Workers - Health and Welfare Support Workers</option>
							<option value="Community and Personal Service Workers - Carers and Aides">Community and
								Personal Service Workers - Carers and Aides</option>
							<option value="Community and Personal Service Workers - Hospitality Workers">Community and
								Personal Service Workers - Hospitality Workers</option>
							<option value="Community and Personal Service Workers - Protective Service Workers">
								Community and Personal Service Workers - Protective Service Workers</option>
							<option
								value="Community and Personal Service Workers - Sports and Personal Service Workers">
								Community and Personal Service Workers - Sports and Personal Service Workers</option>
							<option
								value="Community and Personal Service Workers - Other Community And Personal Service Workers">
								Community and Personal Service Workers - Other Community And Personal Service Workers
							</option>
							<option value="Sales Workers - Sales Representatives and Agents">Sales Workers - Sales
								Representatives and Agents</option>
							<option value="Sales Workers - Sales Assistants and Salespersons">Sales Workers - Sales
								Assistants and Salespersons</option>
							<option value="Sales Workers - Sales Support Workers">Sales Workers - Sales Support Workers
							</option>
							<option value="Sales Workers - Sales Support Workers">Sales Workers - Other Sales Workers
							</option>
							<option value="Machinery Operators and Drivers - Machine and Stationary Plant Operators">
								Machinery Operators and Drivers - Machine and Stationary Plant Operators</option>
							<option value="Machinery Operators and Drivers - Mobile Plant Operators">Machinery Operators
								and Drivers - Mobile Plant Operators</option>
							<option value="Machinery Operators and Drivers - Road and Rail Drivers">Machinery Operators
								and Drivers - Road and Rail Drivers</option>
							<option value="Machinery Operators and Drivers - Storepersons">Machinery Operators and
								Drivers - Storepersons</option>
							<option value="Machinery Operators and Drivers - Storepersons">Machinery Operators and
								Drivers - Other Machinery Operators and Drivers</option>
							<option value="Labourers - Cleaners and Laundry Workers">Labourers - Cleaners and Laundry
								Workers</option>
							<option value="Labourers - Construction and Mining Labourers">Labourers - Construction and
								Mining Labourers</option>
							<option value="Labourers - Factory Process Workers">Labourers - Factory Process Workers
							</option>
							<option value="Labourers - Farm, Forestry and Garden Workers">Labourers - Farm, Forestry and
								Garden Workers</option>
							<option value="Labourers - Food Preparation Assistants">Labourers - Food Preparation
								Assistants</option>
							<option value="Labourers - Other Labourers">Labourers - Other Labourers</option>
							<option value="Students and Trainees - Trade or technical training">Students and Trainees -
								Trade or technical training</option>
							<option value="Students and Trainees - University study">Students and Trainees - University
								study</option>
							<option value="Students and Trainees - Other training or study">Students and Trainees -
								Other training or study</option>
							<option value="Retired - Retired">Retired - Retired</option>
						</select>
					</div>
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Register
						</button>
					</div>
				</form>
				<br />
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>

</div>
