{{> nav}}
<div class="container container-body">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-50 p-b-90">
        <form class="login100-form validate-form flex-sb flex-w" method="post">
          <span class="login100-form-title p-b-51">
            <h2>Reset Password</h2>
          </span>
          {{#if reset}}
          <p>Success! You can now <a class="login-link" href="/user/login">login</a> using your new password.</p>
          {{else}}
          <p class="center-align">Enter your new password below.</p>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
            <input class="input100" type="password" name="password" placeholder="Password">
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn">
              Submit
            </button>
          </div>
          {{/if}}
        </form>
      </div>
    </div>
  </div>

  <div id="dropDownSelect1"></div>

</div>