/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Raleway:600,800|Roboto:400|Crimson+Text:400,600,700,800|Montserrat:400,600,700,800');
@import url('https://use.typekit.net/cnh1pos.css');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}


.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
MUCH BETTER TAX
========================================================================== */

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: .02em;
}

/* ==========================================================================
Color variables
========================================================================== */

:root {
  --main-bg-color: #eee;
  --main-txt-color: #172c5e;
  --secondary-txt-color: #d63600;
  --body-txt-color: #333;
  --link-color: #172c5e;
}

/* ==========================================================================
Typography
========================================================================== */

h1 {
  font-family: 'Crimson Text';
  font-weight: 600;
  font-size: 72px;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h2 {
  font-family: 'Crimson Text';
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  /* margin: auto 10px; */
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3 {
  color: var(--main-txt-color);
}

p {
  margin-bottom: 1.6em;
  /*max-width: 54em;*/
}

ol,
ul {
  margin-top: .5em;
}

ol li {
  margin-top: .5em;
}

ol li ol li {
  margin-top: 0;
  list-style-type: lower-alpha;
}

ol li ol li:first-child {
  margin-top: .5em;
}

ul {
  display: block;
  list-style-type: disc;
}

/* a {
color: var(--link-color);
}
a:hover,
a:focus,
a:active {
color: #56c8fd;
}

.small,
.small * {
font-size: 12px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

label.small {
min-height: 1.4rem; /* Aiming to maintain vertical rhythm */
}

.centred {
  text-align: center;
}

#defence label,
#gst label {
  text-align: left !important;
}

.form-group .text-left {
  text-align: left;
}

.designing-an-igtt h2 {
  margin-bottom: 40px;
}

#budget.income-tax-test .control-label {
  text-align: left;
}

.center-align {
  text-align: center;
}

/* ==========================================================================
Nav Bar
========================================================================== */

.site-title {
  padding-top: 3.5vw;
  border-bottom: 1px solid #ccc;
}

.site-title p {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #d63600;
  text-transform: uppercase;
  font-style: normal;
}

.navbar-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 15px;
  line-height: 1em;
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}

.navbar-nav > li > a {
  padding-top: 1.5vw;
  padding-bottom: 3vw;
}

.navbar-nav > li > form {
  padding-left: 15px;
  padding-right: 15px;
}

#login-nav .nav-right a {
  padding-top: 2vw;
}

.site-title a {
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  font-size: 40px;
  color: #12234a;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 1em;
}

.site-title a:hover {
  text-decoration: none;
}

.navbar {
  /* padding-right: 5vw;
  padding-left: 5vw; */
  margin-bottom: 0;
}

.navbar-default {
  background-color: transparent;
  /* border: 0; */
  border-bottom: none;
}

.navbar-default .container-fluid {
  /* border-bottom: 1px solid #ccc; */
  padding-left: 0;
  padding-right: 0;
}

/*.navbar-nav {
float: right;
margin: auto;
}*/

.navbar-default .navbar-nav > li > a, li.dropdown > ul > li > a  {
  color: #12234a;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

li.dropdown > ul > li > a {
  padding: 0.5em 1em;
  line-height: 1em;
}

li.dropdown > ul > li > a:hover {
  background-color: transparent;
  color: #56c8fd;
}

.navbar-nav > li.dropdown > a {
  padding-bottom: 5px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

.navbar-nav>li>.dropdown-menu{
  border: solid 1px #56c8fd;
  box-shadow:none;
  padding: 0.8em 0;
  background-color: #f2f2f2;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
#login-nav > li > a:hover {
  color: #56c8fd;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a.active {
  color: #56c8fd;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #56c8fd;
  background-color: transparent;
}

.navbar-header {
  margin-top: 35px;
  width: 100%;
  text-align: center;
}

.nav > li {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1em;
}

.budget-link {
  font-weight: 800;
}

#login-nav .nav-right {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  height: 40%;
  padding: 0px 15px;
}

#login-nav > li > a {
  font-weight: 800;
  padding-top: 5px;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  color: var(--main-txt-color);
}

#login-nav > li > a::after {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="fill: var(--main-txt-color);" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30"><path style="text-decoration-color:var(--main-txt-color);stroke: var(--main-txt-color); fill: var(--main-txt-color); line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 15 3 C 10.346159 3 6.3077027 5.6628572 4.3203125 9.5449219 A 1.0001 1.0001 0 1 0 6.0996094 10.455078 C 7.7562192 7.2191429 11.107841 5 15 5 C 20.534534 5 25 9.4654664 25 15 C 25 20.534534 20.534534 25 15 25 C 11.107841 25 7.7562192 22.780857 6.0996094 19.544922 A 1.0001 1.0001 0 1 0 4.3203125 20.455078 C 6.3077027 24.337143 10.346159 27 15 27 C 21.615466 27 27 21.615466 27 15 C 27 8.3845336 21.615466 3 15 3 z M 13.990234 9.9902344 A 1.0001 1.0001 0 0 0 13.292969 11.707031 L 15.585938 14 L 4 14 A 1.0001 1.0001 0 1 0 4 16 L 15.585938 16 L 13.292969 18.292969 A 1.0001 1.0001 0 1 0 14.707031 19.707031 L 18.619141 15.794922 A 1.0001 1.0001 0 0 0 18.617188 14.203125 L 14.707031 10.292969 A 1.0001 1.0001 0 0 0 13.990234 9.9902344 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"></path></svg>')
  no-repeat;
  background-size: 30px;
  width: 30px !important;
  height: 30px !important;
  display: inline-block;
  position: relative;
  top: 10px;
  right: 5px;
  left: 5px;
}

#login-nav > li > a:hover {
  /* background-color: #d9e3e9; */
  transform: translate(0px, -1px);
}

.email-menu-item {
  padding: 0 !important;
  width: 300px;
}

.email-menu-item:hover {
  background-color: transparent !important;
}

.email-user {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  top: .5rem;
  position: absolute;
  width: 290px;
  display: block;
  overflow: hidden;
  text-align: right;
  z-index: 1;
  right: 0;
  margin-right: 10px;
  text-transform: none;
}

.paypal-submit {
  background: none !important;
  color: #12234a;
  border: none;
  padding: 0 !important;
  font: inherit;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.paypal-submit:hover {
  color: #56c8fd;
}

.donate-link {
  font-weight: 700;
}

@media (max-width: 984px) {
  .donate-link {
    width: 40px;
  }

  #login-nav .nav-right {
    height: 40%;
  }
}

/* ==========================================================================
Header
========================================================================== */

.header-jumbatron,
.content-jumbatron {
  background-image: url('../img/banner.jpg');
  background-size: cover;
  height: 48vh;
  min-height: 115px;
  margin-bottom: 0;
  position: relative;
}

.long-title {
  height: 260px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
}

.header-jumbatron .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 5vw;
  padding-left: 5vw;
}

.header-jumbatron h1 {
  margin: 0;
}

.content-jumbatron h1 {
  margin-top: 20px;
}

.header-jumbatron h3 {
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1em;
  font-size: 20px;
  color: var(--secondary-txt-color);
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
Body
========================================================================== */

.container {
  padding: 0;
  width: 100%;
}

.page-title {
  font-size: 46px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 24vh;
  text-align: center;
  margin: auto 0;
}
@media only screen and (max-width: 826px) {
  .page-title {
    line-height: 6vh;
    padding-top: 20px;
  }
}
.page-banner {
  background-color: #12234a;
  height: 24vh;
  min-height: 45px;
}
.page-banner-inner {
  margin: auto;
  width: calc(100% - 50vw);
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  align-content: center;
}
.page-title-wrapper {
  position: relative;
  margin: auto;
}
.sidebar {
  border-right: 1px solid #ccc;
  padding-bottom: 8rem;
  padding-top: 2.3rem;
}
.sidebar .tabs {
  float: left;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0;
  width: 100%;
}
.sidebar .tabs li {
  list-style-type: none;
  line-height: 1.2;
  float: left;
  width: 45%;
  margin-right: 2%;
  margin-bottom: 5%;
}
@media (max-width: 1024px) and (min-width: 767px) {
  .sidebar .tabs li {
    width: 100%;
  }
}
.sidebar .tabs a {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: .5rem .3rem;
  width: 100%;
}
.sidebar .tabs .active a {
  background: #333;
  color: #eee;
}
.sidebar .tabs a:hover,
.sidebar .tabs .active a:hover {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #eee;
}
.sidebar h3 {
  margin-bottom: .25rem;
  margin-top: 1.5rem;
}
.sidebar h4 {
  margin-bottom: .25rem;
  margin-top: 1.5rem;
}
.sidebar .subtitle {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .9rem;
  font-style: italic;
  line-height: 1.4;
  margin-top: .1rem;
}
.sidebar .models {
  border-bottom: 1px solid #ccc;
  float: left;
  font-size: .8rem;
  margin: 0 0 1.5rem -5px;
  padding: 0 0 1.5rem 0;
  width: 100%;
}
.sidebar .models li {
  clear: both;
  display: block;
  float: left;
  list-style-type: none;
  margin-bottom: 2px;
  width: 100%;
}
.sidebar .models li:hover {
  background: #e3e3e3;
}
.sidebar .models span {
  padding: .15rem 0;
}
.sidebar .models li a {
  background: #d9e3e9;
  display: block;
  float: left;
  font-weight: bold;
  width: 100%;
}
.sidebar .models li .title {
  display: block;
  float: left;
  margin-right: -70%;
  padding-left: 5px;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.sidebar .models li a .title {
  text-decoration: none;
}
.sidebar .models li .value {
  float: right;
  padding-right: 5px;
  text-align: right;
  width: 30%;
}
.sidebar .models li a .value {
  color: #333;
  text-decoration: none;
}
.sidebar .models li a:hover {
  background: #337ab7;
  color: #eee;
}
.sidebar .models li a:hover .title {
  text-decoration: none;
}
.sidebar .models li a:hover .value {
  color: #eee;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 10vw;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 0 7vw;
  }
}

.container-body {
  padding-top: 60px;
  /* max-width: 1042px; */
  /* min-height: 650px; */
  padding-bottom: 90px;
  padding-left: 0;
  padding-right: 0;
}

.container-body h1 {
  text-align: center;
}

.container-body h2 {
  padding-bottom: 25px;
}

.container-white {
  background-color: white;
  /* width: 100%; */
}

.container-body > .inner {
  max-width: 100%;
  margin: auto;
  /* padding-bottom: 80px; */
  /* padding-top: 50px; */
}

.container-budget .inner {
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  /* border-radius: 8px; */
  margin: auto;
  max-width: 90%;
  padding: 5%;
}

.container-budget small {
  color: #777;
  display: block;
  line-height: 1.4;
}

.about-row {
  margin-top: 60px;
}

.quote {
  margin-top: 40px;
}

.p-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-outline {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 8px;
  font-size: 1.5rem;
  min-width: 222px;
  color: #333;
}
.btn-outline:hover {
  background-color: var(--main-txt-color);
  border-color: var(--main-txt-color);
  color: #eee;
}

.calculate-btn {
  margin-top: 50px;
}

.reset-button {
  margin-left: 20px;
  min-width: 140px;
  width: auto;
}

.company-tax-test.form-horizontal .control-label {
  padding-top: 0;
}

.well .control-label {
  padding-top: 0;
}

.graph-img {
  margin-top: 40px;
}

.row {
  margin-left: 0;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  img {
    width: 100%;
  }
}

/* ==========================================================================
Forms & Tables
========================================================================== */

.table-heading {
  background-color: #eee;
  font-size: .8rem;
}

.table {
  margin-top: 20px;
  table-layout: fixed;
  width: 100%
}

.total-cell {
  font-weight: 600;
}

th.subhead {
  font-weight: normal;
}

.table > tbody > tr.total-row > td,
.table > tbody > tr.total-row > th {
  border-top: 1px solid #000;
  font-weight: 600;
}

.table > tbody > tr.comparison-row > td,
.table > tbody > tr.comparison-row > th {
  border-top: 1px solid #000;
  background-color: #eee;
}

.company-tax-test .row {
  max-width: 1211px;
}

.form-horizontal {
  max-width: 60rem;
  /* margin: auto; */
}

label.col-sm-3 p {
  text-align: center;
}
label.col-sm-12.control-label,
label.col-sm-6.control-label,
label.col-sm-5.control-label,
#income-tax label.left-align {
  text-align: left;
}

input[type=checkbox], input[type=radio] {
  margin-bottom: 20px;
  margin-right: 14px;
}
form .radio {
  display: inline-block;
}

#defence label,
#gst label,
#igtt-tax label,
#foreign-aid-expense label,
#infrastructure-expense label {
  display: inline-block;
}

.results {
  margin-top: 3rem;
}

.sbs-expense label {
  display: inline-block !important;
}

.abc-expense label {
  display: inline-block !important;
}

.job-expense label {
  display: inline-block !important;
}

.wine-equalisation-tax label {
  display: inline-block !important;
}

.no-gutter {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Petition table */

.petition-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.petition-table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 400px;
}

.petition-table thead tr {
  display: block;
}

.petition-table th, .petition-table td {
  padding: 5px;
  text-align: left;
  width: 400px;
}

/* ==========================================================================
Footer
========================================================================== */

.footer {
  clear: both;
  text-align: center;
}

.footer a {
  color: var(--body-txt-color);
}

.footer a:hover {
  color: #56c8fd;
  text-decoration: none;
}

.footer a:active {
  color: #56c8fd;
  text-decoration: none;
}

.bs-footer {
  text-align: center;
  padding: 17px;
}

.bs-docs-footer-links {
  border-top: 1px solid #ccc;
  padding: 40px 0 0 0;
  width: 80%;
  margin: 60px auto;
}

.bs-docs-footer-links li {
  display: inline-block;
  padding-right: 10px;
  font-size: 0.9rem;
  position: relative;
}

.bs-docs-footer-links li:last-child::after {
  display: none;
}

/* ==========================================================================
Animations
========================================================================== */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: #000;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

/* ==========================================================================
Login / Register
========================================================================== */



textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #8f8fa1;}
input:-moz-placeholder { color: #8f8fa1;}
input::-moz-placeholder { color: #8f8fa1;}
input:-ms-input-placeholder { color: #8f8fa1;}

textarea::-webkit-input-placeholder { color: #8f8fa1;}
textarea:-moz-placeholder { color: #8f8fa1;}
textarea::-moz-placeholder { color: #8f8fa1;}
textarea:-ms-input-placeholder { color: #8f8fa1;}

label {
  /* font-weight: normal; */
  /*display: block;*/
  margin: 0;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}

.wrap-login100 {
  width: 390px;
  border-radius: 10px;
  position: relative;
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
}


.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-bottom: 16px;
}

.input100 {
  color: #403866;
  line-height: 1.2;
  font-size: 18px;
  border: none;
  display: block;
  width: 100%;
  background: transparent;
  height: 62px;
  padding: 0 20px 0 38px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #827ffe;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  background-color: #de5e33;
  border-radius: 3px;
  margin-bottom: 16px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background-color: #c21e03;
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 3px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

.notice {
  border: 1px solid #666;
  background: white;
  padding: 2rem;
  margin: 2rem 0;
}

.account-error {
  color: var(--secondary-txt-color);
}

/* .text-right {
float: right;
} */

.copyright {
  font-size: 0.8rem;
  padding-bottom: 30px;
}

.login-link {
  color: var(--link-color);
  text-decoration: underline;
}

#login-icon {
  stroke: var(--main-txt-color);
}
#login-icon:hover {
  stroke: var(--secondary-txt-color);
}

.calc-button {
  color: #fff;
  background-color: #de5e33;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
  box-shadow: 0 2px 0 1px #c21e03;
  border: none;
}

.calc-button:hover {
  color: #fff;
  background-color: #de5e33;
  box-shadow: 0 2px 0 1px #de5e33;
}

.reset-button {
  color: #de5e33;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
  border: 2px solid #de5e33;
}
.reset-button:hover {
  color: #de5e33;
  background-color: transparent;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
  border: 2px solid #de5e33;
}


/* Dropdown Styling */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: #12234a
}

.fa-angle-down:before {
  font-weight: 900;
}
/* Counter */
.table-counter {
    background: #de5e33;
    padding: 20px;
    display: inline-block;
    color: #ffffff;
}
