
      <div class="container-budget" id="budget">
        <div class="inner">
          <form class="form-horizontal designing-an-igtt income-tax-test" action="#" id="income-tax" method="post" data-model-name="igtt">
            <div class="col-sm-4">
              
            </div>
            <div class="col-sm-4">
              <label class="small">Thresholds</label>
            </div>
            <div class="col-sm-4">
              <label class="small">Rates</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label label-vertical-offset-small">Tax Free Threshold</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-1" name="in-1">
                  {{#select userData.in-1}}
                   <option value="0" selected="selected">0</option>
                   <option value="10,000">10,000</option>
                   <option value="15,000">15,000</option>
                   <option value="18,200">18,200</option>
                   <option value="20,000">20,000</option>
                   <option value="25,000">25,000</option>
                   <option value="30,000">30,000</option>
                   <option value="37,000">37,000</option>
                   <option value="50,000">50,000</option>
                   <option value="87,000">87,000</option>
                   <option value="100,000">100,000</option>
                   <option value="180,000">180,000</option>
                   <option value="200,000">200,000</option>
                   <option value="500,000">500,000</option>
                   <option value="1,000,000">1,000,000</option>
                   <option value="2,000,000">2,000,000</option>
                   <option value="3,000,000">3,000,000</option>
                   <option value="4,000,000">4,000,000</option>
                   <option value="5,000,000">5,000,000</option>
                   <option value="6,000,000">6,000,000</option>
                   <option value="7,000,000">7,000,000</option>
                   <option value="8,000,000">8,000,000</option>
                   <option value="9,000,000">9,000,000</option>
                   <option value="10,000,000">10,000,000</option>
                   <option value="11,000,000">11,000,000</option>
                   <option value="12,000,000">12,000,000</option>
                   <option value="13,000,000">13,000,000</option>
                   <option value="14,000,000">14,000,000</option>
                   <option value="15,000,000">15,000,000</option>
                   <option value="16,000,000">16,000,000</option>
                   <option value="17,000,000">17,000,000</option>
                   <option value="18,000,000">18,000,000</option>
                   <option value="19,000,000">19,000,000</option>
                   <option value="20,000,000">20,000,000</option>
                   {{/select}}
                </select>
              </div>
              <div class="col-sm-4">
                <select class="form-control" id="in-2" name="in-2">
                  {{#select userData.in-2}}
                  <option value="0" selected="selected">0</option>
                  <option value="0.050">0.050</option>
                  <option value="0.055">0.055</option>
                  <option value="0.060">0.060</option>
                  <option value="0.065">0.065</option>
                  <option value="0.070">0.070</option>
                  <option value="0.075">0.075</option>
                  <option value="0.080">0.080</option>
                  <option value="0.085">0.085</option>
                  <option value="0.090">0.090</option>
                  <option value="0.095">0.095</option>
                  <option value="0.100">0.100</option>
                  <option value="0.105">0.105</option>
                  <option value="0.110">0.110</option>
                  <option value="0.115">0.115</option>
                  <option value="0.120">0.120</option>
                  <option value="0.125">0.125</option>
                  <option value="0.130">0.130</option>
                  <option value="0.135">0.135</option>
                  <option value="0.140">0.140</option>
                  <option value="0.145">0.145</option>
                  <option value="0.150">0.150</option>
                  <option value="0.155">0.155</option>
                  <option value="0.160">0.160</option>
                  <option value="0.165">0.165</option>
                  <option value="0.170">0.170</option>
                  <option value="0.175">0.175</option>
                  <option value="0.180">0.180</option>
                  <option value="0.185">0.185</option>
                  <option value="0.190">0.190</option>
                  <option value="0.195">0.195</option>
                  <option value="0.200">0.200</option>
                  <option value="0.205">0.205</option>
                  <option value="0.210">0.210</option>
                  <option value="0.215">0.215</option>
                  <option value="0.220">0.220</option>
                  <option value="0.225">0.225</option>
                  <option value="0.230">0.230</option>
                  <option value="0.235">0.235</option>
                  <option value="0.240">0.240</option>
                  <option value="0.245">0.245</option>
                  <option value="0.250">0.250</option>
                  <option value="0.255">0.255</option>
                  <option value="0.260">0.260</option>
                  <option value="0.265">0.265</option>
                  <option value="0.270">0.270</option>
                  <option value="0.275">0.275</option>
                  <option value="0.280">0.280</option>
                  <option value="0.285">0.285</option>
                  <option value="0.290">0.290</option>
                  <option value="0.295">0.295</option>
                  <option value="0.300">0.300</option>
                  <option value="0.305">0.305</option>
                  <option value="0.310">0.310</option>
                  <option value="0.315">0.315</option>
                  <option value="0.320">0.320</option>
                  <option value="0.325">0.325</option>
                  <option value="0.330">0.330</option>
                  <option value="0.335">0.335</option>
                  <option value="0.340">0.340</option>
                  <option value="0.345">0.345</option>
                  <option value="0.350">0.350</option>
                  <option value="0.355">0.355</option>
                  <option value="0.360">0.360</option>
                  <option value="0.365">0.365</option>
                  <option value="0.370">0.370</option>
                  <option value="0.375">0.375</option>
                  <option value="0.380">0.380</option>
                  <option value="0.385">0.385</option>
                  <option value="0.390">0.390</option>
                  <option value="0.395">0.395</option>
                  <option value="0.400">0.400</option>
                  <option value="0.405">0.405</option>
                  <option value="0.410">0.410</option>
                  <option value="0.415">0.415</option>
                  <option value="0.420">0.420</option>
                  <option value="0.425">0.425</option>
                  <option value="0.430">0.430</option>
                  <option value="0.435">0.435</option>
                  <option value="0.440">0.440</option>
                  <option value="0.445">0.445</option>
                  <option value="0.450">0.450</option>
                  <option value="0.455">0.455</option>
                  <option value="0.460">0.460</option>
                  <option value="0.465">0.465</option>
                  <option value="0.470">0.470</option>
                  <option value="0.475">0.475</option>
                  <option value="0.480">0.480</option>
                  <option value="0.485">0.485</option>
                  <option value="0.490">0.490</option>
                  <option value="0.495">0.495</option>
                  <option value="0.500">0.500</option>
                  <option value="0.505">0.505</option>
                  <option value="0.510">0.510</option>
                  <option value="0.515">0.515</option>
                  <option value="0.520">0.520</option>
                  <option value="0.525">0.525</option>
                  <option value="0.530">0.530</option>
                  <option value="0.535">0.535</option>
                  <option value="0.540">0.540</option>
                  <option value="0.545">0.545</option>
                  <option value="0.550">0.550</option>
                  <option value="0.555">0.555</option>
                  <option value="0.560">0.560</option>
                  <option value="0.565">0.565</option>
                  <option value="0.570">0.570</option>
                  <option value="0.575">0.575</option>
                  <option value="0.580">0.580</option>
                  <option value="0.585">0.585</option>
                  <option value="0.590">0.590</option>
                  <option value="0.595">0.595</option>
                  <option value="0.600">0.600</option>
                  <option value="0.605">0.605</option>
                  <option value="0.610">0.610</option>
                  <option value="0.615">0.615</option>
                  <option value="0.620">0.620</option>
                  <option value="0.625">0.625</option>
                  <option value="0.630">0.630</option>
                  <option value="0.635">0.635</option>
                  <option value="0.640">0.640</option>
                  <option value="0.645">0.645</option>
                  <option value="0.650">0.650</option>
                  <option value="0.655">0.655</option>
                  <option value="0.660">0.660</option>
                  <option value="0.665">0.665</option>
                  <option value="0.670">0.670</option>
                  <option value="0.675">0.675</option>
                  <option value="0.680">0.680</option>
                  <option value="0.685">0.685</option>
                  <option value="0.690">0.690</option>
                  <option value="0.695">0.695</option>
                  <option value="0.700">0.700</option>
                  {{/select}}
                </select>
              </div>

            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label">Second IGTT Threshold</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-3" name="in-3">
                  {{#select userData.in-3}}
                   <option value="0" selected="selected">0</option>
                   <option value="10,000">10,000</option>
                   <option value="15,000">15,000</option>
                   <option value="18,200">18,200</option>
                   <option value="20,000">20,000</option>
                   <option value="25,000">25,000</option>
                   <option value="30,000">30,000</option>
                   <option value="37,000">37,000</option>
                   <option value="50,000">50,000</option>
                   <option value="87,000">87,000</option>
                   <option value="100,000">100,000</option>
                   <option value="200,000">200,000</option>
                   <option value="300,000">300,000</option>
                   <option value="400,000">400,000</option>
                   <option value="500,000">500,000</option>
                   <option value="600,000">600,000</option>
                   <option value="700,000">700,000</option>
                   <option value="800,000">800,000</option>
                   <option value="900,000">900,000</option>
                   <option value="1,000,000">1,000,000</option>
                   <option value="1,500,000">1,500,000</option>
                   <option value="2,000,000">2,000,000</option>
                   <option value="2,500,000">2,500,000</option>
                   <option value="3,000,000">3,000,000</option>
                   <option value="3,500,000">3,500,000</option>
                   <option value="4,000,000">4,000,000</option>
                   <option value="4,500,000">4,500,000</option>
                   <option value="5,000,000">5,000,000</option>
                   <option value="5,500,000">5,500,000</option>
                   <option value="6,000,000">6,000,000</option>
                   <option value="6,500,000">6,500,000</option>
                   <option value="7,000,000">7,000,000</option>
                   <option value="7,500,000">7,500,000</option>
                   <option value="8,000,000">8,000,000</option>
                   <option value="8,500,000">8,500,000</option>
                   <option value="9,000,000">9,000,000</option>
                   <option value="9,500,000">9,500,000</option>
                   <option value="10,000,000">10,000,000</option>
                  {{/select}}
                </select>
              </div>


              <div class="col-sm-4">
                <select class="form-control" id="in-4" name="in-4">
                  {{#select userData.in-4}}
                  <option value="0" selected="selected">0</option>
                  <option value="0.050">0.050</option>
                  <option value="0.055">0.055</option>
                  <option value="0.060">0.060</option>
                  <option value="0.065">0.065</option>
                  <option value="0.070">0.070</option>
                  <option value="0.075">0.075</option>
                  <option value="0.080">0.080</option>
                  <option value="0.085">0.085</option>
                  <option value="0.090">0.090</option>
                  <option value="0.095">0.095</option>
                  <option value="0.100">0.100</option>
                  <option value="0.105">0.105</option>
                  <option value="0.110">0.110</option>
                  <option value="0.115">0.115</option>
                  <option value="0.120">0.120</option>
                  <option value="0.125">0.125</option>
                  <option value="0.130">0.130</option>
                  <option value="0.135">0.135</option>
                  <option value="0.140">0.140</option>
                  <option value="0.145">0.145</option>
                  <option value="0.150">0.150</option>
                  <option value="0.155">0.155</option>
                  <option value="0.160">0.160</option>
                  <option value="0.165">0.165</option>
                  <option value="0.170">0.170</option>
                  <option value="0.175">0.175</option>
                  <option value="0.180">0.180</option>
                  <option value="0.185">0.185</option>
                  <option value="0.190">0.190</option>
                  <option value="0.195">0.195</option>
                  <option value="0.200">0.200</option>
                  <option value="0.205">0.205</option>
                  <option value="0.210">0.210</option>
                  <option value="0.215">0.215</option>
                  <option value="0.220">0.220</option>
                  <option value="0.225">0.225</option>
                  <option value="0.230">0.230</option>
                  <option value="0.235">0.235</option>
                  <option value="0.240">0.240</option>
                  <option value="0.245">0.245</option>
                  <option value="0.250">0.250</option>
                  <option value="0.255">0.255</option>
                  <option value="0.260">0.260</option>
                  <option value="0.265">0.265</option>
                  <option value="0.270">0.270</option>
                  <option value="0.275">0.275</option>
                  <option value="0.280">0.280</option>
                  <option value="0.285">0.285</option>
                  <option value="0.290">0.290</option>
                  <option value="0.295">0.295</option>
                  <option value="0.300">0.300</option>
                  <option value="0.305">0.305</option>
                  <option value="0.310">0.310</option>
                  <option value="0.315">0.315</option>
                  <option value="0.320">0.320</option>
                  <option value="0.325">0.325</option>
                  <option value="0.330">0.330</option>
                  <option value="0.335">0.335</option>
                  <option value="0.340">0.340</option>
                  <option value="0.345">0.345</option>
                  <option value="0.350">0.350</option>
                  <option value="0.355">0.355</option>
                  <option value="0.360">0.360</option>
                  <option value="0.365">0.365</option>
                  <option value="0.370">0.370</option>
                  <option value="0.375">0.375</option>
                  <option value="0.380">0.380</option>
                  <option value="0.385">0.385</option>
                  <option value="0.390">0.390</option>
                  <option value="0.395">0.395</option>
                  <option value="0.400">0.400</option>
                  <option value="0.405">0.405</option>
                  <option value="0.410">0.410</option>
                  <option value="0.415">0.415</option>
                  <option value="0.420">0.420</option>
                  <option value="0.425">0.425</option>
                  <option value="0.430">0.430</option>
                  <option value="0.435">0.435</option>
                  <option value="0.440">0.440</option>
                  <option value="0.445">0.445</option>
                  <option value="0.450">0.450</option>
                  <option value="0.455">0.455</option>
                  <option value="0.460">0.460</option>
                  <option value="0.465">0.465</option>
                  <option value="0.470">0.470</option>
                  <option value="0.475">0.475</option>
                  <option value="0.480">0.480</option>
                  <option value="0.485">0.485</option>
                  <option value="0.490">0.490</option>
                  <option value="0.495">0.495</option>
                  <option value="0.500">0.500</option>
                  <option value="0.505">0.505</option>
                  <option value="0.510">0.510</option>
                  <option value="0.515">0.515</option>
                  <option value="0.520">0.520</option>
                  <option value="0.525">0.525</option>
                  <option value="0.530">0.530</option>
                  <option value="0.535">0.535</option>
                  <option value="0.540">0.540</option>
                  <option value="0.545">0.545</option>
                  <option value="0.550">0.550</option>
                  <option value="0.555">0.555</option>
                  <option value="0.560">0.560</option>
                  <option value="0.565">0.565</option>
                  <option value="0.570">0.570</option>
                  <option value="0.575">0.575</option>
                  <option value="0.580">0.580</option>
                  <option value="0.585">0.585</option>
                  <option value="0.590">0.590</option>
                  <option value="0.595">0.595</option>
                  <option value="0.600">0.600</option>
                  <option value="0.605">0.605</option>
                  <option value="0.610">0.610</option>
                  <option value="0.615">0.615</option>
                  <option value="0.620">0.620</option>
                  <option value="0.625">0.625</option>
                  <option value="0.630">0.630</option>
                  <option value="0.635">0.635</option>
                  <option value="0.640">0.640</option>
                  <option value="0.645">0.645</option>
                  <option value="0.650">0.650</option>
                  <option value="0.655">0.655</option>
                  <option value="0.660">0.660</option>
                  <option value="0.665">0.665</option>
                  <option value="0.670">0.670</option>
                  <option value="0.675">0.675</option>
                  <option value="0.680">0.680</option>
                  <option value="0.685">0.685</option>
                  <option value="0.690">0.690</option>
                  <option value="0.695">0.695</option>
                  <option value="0.700">0.700</option>
                  {{/select}}
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-4 control-label">Third IGTT Threshold</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-5" name="in-5">
                  {{#select userData.in-5}}
                   <option value="0" selected="selected">0</option>
                   <option value="50,000">50,000</option>
                   <option value="100,000">100,000</option>
                   <option value="200,000">200,000</option>
                   <option value="300,000">300,000</option>
                   <option value="400,000">400,000</option>
                   <option value="500,000">500,000</option>
                   <option value="600,000">600,000</option>
                   <option value="700,000">700,000</option>
                   <option value="800,000">800,000</option>
                   <option value="900,000">900,000</option>
                   <option value="1,000,000">1,000,000</option>
                   <option value="1,500,000">1,500,000</option>
                   <option value="2,000,000">2,000,000</option>
                   <option value="2,500,000">2,500,000</option>
                   <option value="3,000,000">3,000,000</option>
                   <option value="3,500,000">3,500,000</option>
                   <option value="4,000,000">4,000,000</option>
                   <option value="4,500,000">4,500,000</option>
                   <option value="5,000,000">5,000,000</option>
                   <option value="5,500,000">5,500,000</option>
                   <option value="6,000,00">6,000,000</option>
                   <option value="6,500,000">6,500,000</option>
                   <option value="7,000,000">7,000,000</option>
                   <option value="7,500,000">7,500,000</option>
                   <option value="8,000,000">8,000,000</option>
                   <option value="8,500,000">8,500,000</option>
                   <option value="9,000,000">9,000,000</option>
                   <option value="9,500,000">9,500,000</option>
                   <option value="10,000,000">10,000,000</option>
                   <option value="10,500,000">10,500,000</option>
                   <option value="11,000,000">11,000,000</option>
                   <option value="11,500,000">11,500,000</option>
                   <option value="12,000,000">12,000,000</option>
                   <option value="12,500,00">12,500,000</option>
                   <option value="13,000,000">13,000,000</option>
                   <option value="13,500,000">13,500,000</option>
                   <option value="14,000,000">14,000,000</option>
                   <option value="14,500,000">14,500,000</option>
                   <option value="15,000,000">15,000,000</option>
                   <option value="15,500,000">15,500,000</option>
                   <option value="16,000,000">16,000,000</option>
                   <option value="16,500,000">16,500,000</option>
                   <option value="17,000,000">17,000,000</option>
                   <option value="17,500,000">17,500,000</option>
                   <option value="18,000,000">18,000,000</option>
                   <option value="18,500,000">18,500,000</option>
                   <option value="19,000,000">19,000,000</option>
                   <option value="19,500,000">19,500,000</option>
                   <option value="20,000,000">20,000,000</option>                               
                   {{/select}}
                </select>
              </div>
              <div class="col-sm-4">
                <select class="form-control" id="in-6" name="in-6">
                  {{#select userData.in-6}}
                  <option value="0" selected="selected">0</option>
                  <option value="0.050">0.050</option>
                  <option value="0.055">0.055</option>
                  <option value="0.060">0.060</option>
                  <option value="0.065">0.065</option>
                  <option value="0.070">0.070</option>
                  <option value="0.075">0.075</option>
                  <option value="0.080">0.080</option>
                  <option value="0.085">0.085</option>
                  <option value="0.090">0.090</option>
                  <option value="0.095">0.095</option>
                  <option value="0.100">0.100</option>
                  <option value="0.105">0.105</option>
                  <option value="0.110">0.110</option>
                  <option value="0.115">0.115</option>
                  <option value="0.120">0.120</option>
                  <option value="0.125">0.125</option>
                  <option value="0.130">0.130</option>
                  <option value="0.135">0.135</option>
                  <option value="0.140">0.140</option>
                  <option value="0.145">0.145</option>
                  <option value="0.150">0.150</option>
                  <option value="0.155">0.155</option>
                  <option value="0.160">0.160</option>
                  <option value="0.165">0.165</option>
                  <option value="0.170">0.170</option>
                  <option value="0.175">0.175</option>
                  <option value="0.180">0.180</option>
                  <option value="0.185">0.185</option>
                  <option value="0.190">0.190</option>
                  <option value="0.195">0.195</option>
                  <option value="0.200">0.200</option>
                  <option value="0.205">0.205</option>
                  <option value="0.210">0.210</option>
                  <option value="0.215">0.215</option>
                  <option value="0.220">0.220</option>
                  <option value="0.225">0.225</option>
                  <option value="0.230">0.230</option>
                  <option value="0.235">0.235</option>
                  <option value="0.240">0.240</option>
                  <option value="0.245">0.245</option>
                  <option value="0.250">0.250</option>
                  <option value="0.255">0.255</option>
                  <option value="0.260">0.260</option>
                  <option value="0.265">0.265</option>
                  <option value="0.270">0.270</option>
                  <option value="0.275">0.275</option>
                  <option value="0.280">0.280</option>
                  <option value="0.285">0.285</option>
                  <option value="0.290">0.290</option>
                  <option value="0.295">0.295</option>
                  <option value="0.300">0.300</option>
                  <option value="0.305">0.305</option>
                  <option value="0.310">0.310</option>
                  <option value="0.315">0.315</option>
                  <option value="0.320">0.320</option>
                  <option value="0.325">0.325</option>
                  <option value="0.330">0.330</option>
                  <option value="0.335">0.335</option>
                  <option value="0.340">0.340</option>
                  <option value="0.345">0.345</option>
                  <option value="0.350">0.350</option>
                  <option value="0.355">0.355</option>
                  <option value="0.360">0.360</option>
                  <option value="0.365">0.365</option>
                  <option value="0.370">0.370</option>
                  <option value="0.375">0.375</option>
                  <option value="0.380">0.380</option>
                  <option value="0.385">0.385</option>
                  <option value="0.390">0.390</option>
                  <option value="0.395">0.395</option>
                  <option value="0.400">0.400</option>
                  <option value="0.405">0.405</option>
                  <option value="0.410">0.410</option>
                  <option value="0.415">0.415</option>
                  <option value="0.420">0.420</option>
                  <option value="0.425">0.425</option>
                  <option value="0.430">0.430</option>
                  <option value="0.435">0.435</option>
                  <option value="0.440">0.440</option>
                  <option value="0.445">0.445</option>
                  <option value="0.450">0.450</option>
                  <option value="0.455">0.455</option>
                  <option value="0.460">0.460</option>
                  <option value="0.465">0.465</option>
                  <option value="0.470">0.470</option>
                  <option value="0.475">0.475</option>
                  <option value="0.480">0.480</option>
                  <option value="0.485">0.485</option>
                  <option value="0.490">0.490</option>
                  <option value="0.495">0.495</option>
                  <option value="0.500">0.500</option>
                  <option value="0.505">0.505</option>
                  <option value="0.510">0.510</option>
                  <option value="0.515">0.515</option>
                  <option value="0.520">0.520</option>
                  <option value="0.525">0.525</option>
                  <option value="0.530">0.530</option>
                  <option value="0.535">0.535</option>
                  <option value="0.540">0.540</option>
                  <option value="0.545">0.545</option>
                  <option value="0.550">0.550</option>
                  <option value="0.555">0.555</option>
                  <option value="0.560">0.560</option>
                  <option value="0.565">0.565</option>
                  <option value="0.570">0.570</option>
                  <option value="0.575">0.575</option>
                  <option value="0.580">0.580</option>
                  <option value="0.585">0.585</option>
                  <option value="0.590">0.590</option>
                  <option value="0.595">0.595</option>
                  <option value="0.600">0.600</option>
                  <option value="0.605">0.605</option>
                  <option value="0.610">0.610</option>
                  <option value="0.615">0.615</option>
                  <option value="0.620">0.620</option>
                  <option value="0.625">0.625</option>
                  <option value="0.630">0.630</option>
                  <option value="0.635">0.635</option>
                  <option value="0.640">0.640</option>
                  <option value="0.645">0.645</option>
                  <option value="0.650">0.650</option>
                  <option value="0.655">0.655</option>
                  <option value="0.660">0.660</option>
                  <option value="0.665">0.665</option>
                  <option value="0.670">0.670</option>
                  <option value="0.675">0.675</option>
                  <option value="0.680">0.680</option>
                  <option value="0.685">0.685</option>
                  <option value="0.690">0.690</option>
                  <option value="0.695">0.695</option>
                  <option value="0.700">0.700</option>
                  {{/select}}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label">Fourth IGTT Threshold</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-7" name="in-7">
                  {{#select userData.in-7}}
                  <option value="0" selected="selected">0</option>
                  <option value="100,000">100,000</option>
                   <option value="200,000">200,000</option>
                   <option value="300,000">300,000</option>
                   <option value="400,000">400,000</option>
                   <option value="500,000">500,000</option>
                   <option value="600,000">600,000</option>
                   <option value="700,000">700,000</option>
                   <option value="800,000">800,000</option>
                   <option value="900,000">900,000</option>
                   <option value="1,000,000">1,000,000</option>
                   <option value="2,000,000">2,000,000</option>
                   <option value="3,000,000">3,000,000</option>
                   <option value="4,000,000">4,000,000</option>
                   <option value="5,000,000">5,000,000</option>
                   <option value="6,000,000">6,000,000</option>
                   <option value="7,000,000">7,000,000</option>
                   <option value="8,000,000">8,000,000</option>
                   <option value="9,000,000">9,000,000</option>
                   <option value="10,000,000">10,000,000</option>
                   <option value="11,000,000">11,000,000</option>
                   <option value="12,000,000">12,000,000</option>
                   <option value="13,000,000">13,000,000</option>
                   <option value="14,000,000">14,000,000</option>
                   <option value="15,000,000">15,000,000</option>
                   <option value="16,000,000">16,000,000</option>
                   <option value="17,000,000">17,000,000</option>
                   <option value="18,000,000">18,000,000</option>
                   <option value="19,000,000">19,000,000</option>
                   <option value="20,000,000">20,000,000</option>
                  {{/select}}
                </select>
              </div>
              <div class="col-sm-4">
                <select class="form-control" id="in-8" name="in-8">
                  {{#select userData.in-8}}
                  <option value="0" selected="selected">0</option>
                  <option value="0.050">0.050</option>
                  <option value="0.055">0.055</option>
                  <option value="0.060">0.060</option>
                  <option value="0.065">0.065</option>
                  <option value="0.070">0.070</option>
                  <option value="0.075">0.075</option>
                  <option value="0.080">0.080</option>
                  <option value="0.085">0.085</option>
                  <option value="0.090">0.090</option>
                  <option value="0.095">0.095</option>
                  <option value="0.100">0.100</option>
                  <option value="0.105">0.105</option>
                  <option value="0.110">0.110</option>
                  <option value="0.115">0.115</option>
                  <option value="0.120">0.120</option>
                  <option value="0.125">0.125</option>
                  <option value="0.130">0.130</option>
                  <option value="0.135">0.135</option>
                  <option value="0.140">0.140</option>
                  <option value="0.145">0.145</option>
                  <option value="0.150">0.150</option>
                  <option value="0.155">0.155</option>
                  <option value="0.160">0.160</option>
                  <option value="0.165">0.165</option>
                  <option value="0.170">0.170</option>
                  <option value="0.175">0.175</option>
                  <option value="0.180">0.180</option>
                  <option value="0.185">0.185</option>
                  <option value="0.190">0.190</option>
                  <option value="0.195">0.195</option>
                  <option value="0.200">0.200</option>
                  <option value="0.205">0.205</option>
                  <option value="0.210">0.210</option>
                  <option value="0.215">0.215</option>
                  <option value="0.220">0.220</option>
                  <option value="0.225">0.225</option>
                  <option value="0.230">0.230</option>
                  <option value="0.235">0.235</option>
                  <option value="0.240">0.240</option>
                  <option value="0.245">0.245</option>
                  <option value="0.250">0.250</option>
                  <option value="0.255">0.255</option>
                  <option value="0.260">0.260</option>
                  <option value="0.265">0.265</option>
                  <option value="0.270">0.270</option>
                  <option value="0.275">0.275</option>
                  <option value="0.280">0.280</option>
                  <option value="0.285">0.285</option>
                  <option value="0.290">0.290</option>
                  <option value="0.295">0.295</option>
                  <option value="0.300">0.300</option>
                  <option value="0.305">0.305</option>
                  <option value="0.310">0.310</option>
                  <option value="0.315">0.315</option>
                  <option value="0.320">0.320</option>
                  <option value="0.325">0.325</option>
                  <option value="0.330">0.330</option>
                  <option value="0.335">0.335</option>
                  <option value="0.340">0.340</option>
                  <option value="0.345">0.345</option>
                  <option value="0.350">0.350</option>
                  <option value="0.355">0.355</option>
                  <option value="0.360">0.360</option>
                  <option value="0.365">0.365</option>
                  <option value="0.370">0.370</option>
                  <option value="0.375">0.375</option>
                  <option value="0.380">0.380</option>
                  <option value="0.385">0.385</option>
                  <option value="0.390">0.390</option>
                  <option value="0.395">0.395</option>
                  <option value="0.400">0.400</option>
                  <option value="0.405">0.405</option>
                  <option value="0.410">0.410</option>
                  <option value="0.415">0.415</option>
                  <option value="0.420">0.420</option>
                  <option value="0.425">0.425</option>
                  <option value="0.430">0.430</option>
                  <option value="0.435">0.435</option>
                  <option value="0.440">0.440</option>
                  <option value="0.445">0.445</option>
                  <option value="0.450">0.450</option>
                  <option value="0.455">0.455</option>
                  <option value="0.460">0.460</option>
                  <option value="0.465">0.465</option>
                  <option value="0.470">0.470</option>
                  <option value="0.475">0.475</option>
                  <option value="0.480">0.480</option>
                  <option value="0.485">0.485</option>
                  <option value="0.490">0.490</option>
                  <option value="0.495">0.495</option>
                  <option value="0.500">0.500</option>
                  <option value="0.505">0.505</option>
                  <option value="0.510">0.510</option>
                  <option value="0.515">0.515</option>
                  <option value="0.520">0.520</option>
                  <option value="0.525">0.525</option>
                  <option value="0.530">0.530</option>
                  <option value="0.535">0.535</option>
                  <option value="0.540">0.540</option>
                  <option value="0.545">0.545</option>
                  <option value="0.550">0.550</option>
                  <option value="0.555">0.555</option>
                  <option value="0.560">0.560</option>
                  <option value="0.565">0.565</option>
                  <option value="0.570">0.570</option>
                  <option value="0.575">0.575</option>
                  <option value="0.580">0.580</option>
                  <option value="0.585">0.585</option>
                  <option value="0.590">0.590</option>
                  <option value="0.595">0.595</option>
                  <option value="0.600">0.600</option>
                  <option value="0.605">0.605</option>
                  <option value="0.610">0.610</option>
                  <option value="0.615">0.615</option>
                  <option value="0.620">0.620</option>
                  <option value="0.625">0.625</option>
                  <option value="0.630">0.630</option>
                  <option value="0.635">0.635</option>
                  <option value="0.640">0.640</option>
                  <option value="0.645">0.645</option>
                  <option value="0.650">0.650</option>
                  <option value="0.655">0.655</option>
                  <option value="0.660">0.660</option>
                  <option value="0.665">0.665</option>
                  <option value="0.670">0.670</option>
                  <option value="0.675">0.675</option>
                  <option value="0.680">0.680</option>
                  <option value="0.685">0.685</option>
                  <option value="0.690">0.690</option>
                  <option value="0.695">0.695</option>
                  <option value="0.700">0.700</option>
                  {{/select}}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label">Fifth IGTT Threshold</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-9" name="in-9">
                  {{#select userData.in-9}}
                  <option value="0" selected="selected">0</option>
                  <option value="1,000,000">1,000,000</option>
                  <option value="2,000,000">2,000,000</option>
                  <option value="3,000,000">3,000,000</option>
                  <option value="4,000,000">4,000,000</option>
                  <option value="5,000,000">5,000,000</option>
                  <option value="6,000,000">6,000,000</option>
                  <option value="7,000,000">7,000,000</option>
                  <option value="8,000,000">8,000,000</option>
                  <option value="9,000,000">9,000,000</option>
                  <option value="10,000,000">10,000,000</option>
                  <option value="11,000,000">11,000,000</option>
                  <option value="12,000,000">12,000,000</option>
                  <option value="13,000,000">13,000,000</option>
                  <option value="14,000,000">14,000,000</option>
                  <option value="15,000,000">15,000,000</option>
                  <option value="16,000,000">16,000,000</option>
                  <option value="17,000,000">17,000,000</option>
                  <option value="18,000,000">18,000,000</option>
                  <option value="19,000,000">19,000,000</option>
                  <option value="20,000,000">20,000,000</option>
                  {{/select}}
                </select>
              </div>
              <div class="col-sm-4">
                <select class="form-control" id="in-10" name="in-10">
                  {{#select userData.in-10}}
                  <option value="0" selected="selected">0</option>
                  <option value="0.050">0.050</option>
                  <option value="0.055">0.055</option>
                  <option value="0.060">0.060</option>
                  <option value="0.065">0.065</option>
                  <option value="0.070">0.070</option>
                  <option value="0.075">0.075</option>
                  <option value="0.080">0.080</option>
                  <option value="0.085">0.085</option>
                  <option value="0.090">0.090</option>
                  <option value="0.095">0.095</option>
                  <option value="0.100">0.100</option>
                  <option value="0.105">0.105</option>
                  <option value="0.110">0.110</option>
                  <option value="0.115">0.115</option>
                  <option value="0.120">0.120</option>
                  <option value="0.125">0.125</option>
                  <option value="0.130">0.130</option>
                  <option value="0.135">0.135</option>
                  <option value="0.140">0.140</option>
                  <option value="0.145">0.145</option>
                  <option value="0.150">0.150</option>
                  <option value="0.155">0.155</option>
                  <option value="0.160">0.160</option>
                  <option value="0.165">0.165</option>
                  <option value="0.170">0.170</option>
                  <option value="0.175">0.175</option>
                  <option value="0.180">0.180</option>
                  <option value="0.185">0.185</option>
                  <option value="0.190">0.190</option>
                  <option value="0.195">0.195</option>
                  <option value="0.200">0.200</option>
                  <option value="0.205">0.205</option>
                  <option value="0.210">0.210</option>
                  <option value="0.215">0.215</option>
                  <option value="0.220">0.220</option>
                  <option value="0.225">0.225</option>
                  <option value="0.230">0.230</option>
                  <option value="0.235">0.235</option>
                  <option value="0.240">0.240</option>
                  <option value="0.245">0.245</option>
                  <option value="0.250">0.250</option>
                  <option value="0.255">0.255</option>
                  <option value="0.260">0.260</option>
                  <option value="0.265">0.265</option>
                  <option value="0.270">0.270</option>
                  <option value="0.275">0.275</option>
                  <option value="0.280">0.280</option>
                  <option value="0.285">0.285</option>
                  <option value="0.290">0.290</option>
                  <option value="0.295">0.295</option>
                  <option value="0.300">0.300</option>
                  <option value="0.305">0.305</option>
                  <option value="0.310">0.310</option>
                  <option value="0.315">0.315</option>
                  <option value="0.320">0.320</option>
                  <option value="0.325">0.325</option>
                  <option value="0.330">0.330</option>
                  <option value="0.335">0.335</option>
                  <option value="0.340">0.340</option>
                  <option value="0.345">0.345</option>
                  <option value="0.350">0.350</option>
                  <option value="0.355">0.355</option>
                  <option value="0.360">0.360</option>
                  <option value="0.365">0.365</option>
                  <option value="0.370">0.370</option>
                  <option value="0.375">0.375</option>
                  <option value="0.380">0.380</option>
                  <option value="0.385">0.385</option>
                  <option value="0.390">0.390</option>
                  <option value="0.395">0.395</option>
                  <option value="0.400">0.400</option>
                  <option value="0.405">0.405</option>
                  <option value="0.410">0.410</option>
                  <option value="0.415">0.415</option>
                  <option value="0.420">0.420</option>
                  <option value="0.425">0.425</option>
                  <option value="0.430">0.430</option>
                  <option value="0.435">0.435</option>
                  <option value="0.440">0.440</option>
                  <option value="0.445">0.445</option>
                  <option value="0.450">0.450</option>
                  <option value="0.455">0.455</option>
                  <option value="0.460">0.460</option>
                  <option value="0.465">0.465</option>
                  <option value="0.470">0.470</option>
                  <option value="0.475">0.475</option>
                  <option value="0.480">0.480</option>
                  <option value="0.485">0.485</option>
                  <option value="0.490">0.490</option>
                  <option value="0.495">0.495</option>
                  <option value="0.500">0.500</option>
                  <option value="0.505">0.505</option>
                  <option value="0.510">0.510</option>
                  <option value="0.515">0.515</option>
                  <option value="0.520">0.520</option>
                  <option value="0.525">0.525</option>
                  <option value="0.530">0.530</option>
                  <option value="0.535">0.535</option>
                  <option value="0.540">0.540</option>
                  <option value="0.545">0.545</option>
                  <option value="0.550">0.550</option>
                  <option value="0.555">0.555</option>
                  <option value="0.560">0.560</option>
                  <option value="0.565">0.565</option>
                  <option value="0.570">0.570</option>
                  <option value="0.575">0.575</option>
                  <option value="0.580">0.580</option>
                  <option value="0.585">0.585</option>
                  <option value="0.590">0.590</option>
                  <option value="0.595">0.595</option>
                  <option value="0.600">0.600</option>
                  <option value="0.605">0.605</option>
                  <option value="0.610">0.610</option>
                  <option value="0.615">0.615</option>
                  <option value="0.620">0.620</option>
                  <option value="0.625">0.625</option>
                  <option value="0.630">0.630</option>
                  <option value="0.635">0.635</option>
                  <option value="0.640">0.640</option>
                  <option value="0.645">0.645</option>
                  <option value="0.650">0.650</option>
                  <option value="0.655">0.655</option>
                  <option value="0.660">0.660</option>
                  <option value="0.665">0.665</option>
                  <option value="0.670">0.670</option>
                  <option value="0.675">0.675</option>
                  <option value="0.680">0.680</option>
                  <option value="0.685">0.685</option>
                  <option value="0.690">0.690</option>
                  <option value="0.695">0.695</option>
                  <option value="0.700">0.700</option>
                  {{/select}}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 control-label">Sixth IGTT Threshold</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-11" name="in-11">
                  {{#select userData.in-11}}
                  <option value="0" selected="selected">0</option>
                  <option value="1,000,000">1,000,000</option>
                  <option value="2,000,000">2,000,000</option>
                  <option value="3,000,000">3,000,000</option>
                  <option value="4,000,000">4,000,000</option>
                  <option value="5,000,000">5,000,000</option>
                  <option value="6,000,000">6,000,000</option>
                  <option value="7,000,000">7,000,000</option>
                  <option value="8,000,000">8,000,000</option>
                  <option value="9,000,000">9,000,000</option>
                  <option value="10,000,000">10,000,000</option>
                  <option value="11,000,000">11,000,000</option>
                  <option value="12,000,000">12,000,000</option>
                  <option value="13,000,000">13,000,000</option>
                  <option value="14,000,000">14,000,000</option>
                  <option value="15,000,000">15,000,000</option>
                  <option value="16,000,000">16,000,000</option>
                  <option value="17,000,000">17,000,000</option>
                  <option value="18,000,000">18,000,000</option>
                  <option value="19,000,000">19,000,000</option>
                  <option value="20,000,000">20,000,000</option>
                  {{/select}}
                </select>
              </div>
              <div class="col-sm-4">
                <select class="form-control" id="in-12" name="in-12">
                  {{#select userData.in-12}}
                  <option value="0" selected="selected">0</option>
                  <option value="0.050">0.050</option>
                  <option value="0.055">0.055</option>
                  <option value="0.060">0.060</option>
                  <option value="0.065">0.065</option>
                  <option value="0.070">0.070</option>
                  <option value="0.075">0.075</option>
                  <option value="0.080">0.080</option>
                  <option value="0.085">0.085</option>
                  <option value="0.090">0.090</option>
                  <option value="0.095">0.095</option>
                  <option value="0.100">0.100</option>
                  <option value="0.105">0.105</option>
                  <option value="0.110">0.110</option>
                  <option value="0.115">0.115</option>
                  <option value="0.120">0.120</option>
                  <option value="0.125">0.125</option>
                  <option value="0.130">0.130</option>
                  <option value="0.135">0.135</option>
                  <option value="0.140">0.140</option>
                  <option value="0.145">0.145</option>
                  <option value="0.150">0.150</option>
                  <option value="0.155">0.155</option>
                  <option value="0.160">0.160</option>
                  <option value="0.165">0.165</option>
                  <option value="0.170">0.170</option>
                  <option value="0.175">0.175</option>
                  <option value="0.180">0.180</option>
                  <option value="0.185">0.185</option>
                  <option value="0.190">0.190</option>
                  <option value="0.195">0.195</option>
                  <option value="0.200">0.200</option>
                  <option value="0.205">0.205</option>
                  <option value="0.210">0.210</option>
                  <option value="0.215">0.215</option>
                  <option value="0.220">0.220</option>
                  <option value="0.225">0.225</option>
                  <option value="0.230">0.230</option>
                  <option value="0.235">0.235</option>
                  <option value="0.240">0.240</option>
                  <option value="0.245">0.245</option>
                  <option value="0.250">0.250</option>
                  <option value="0.255">0.255</option>
                  <option value="0.260">0.260</option>
                  <option value="0.265">0.265</option>
                  <option value="0.270">0.270</option>
                  <option value="0.275">0.275</option>
                  <option value="0.280">0.280</option>
                  <option value="0.285">0.285</option>
                  <option value="0.290">0.290</option>
                  <option value="0.295">0.295</option>
                  <option value="0.300">0.300</option>
                  <option value="0.305">0.305</option>
                  <option value="0.310">0.310</option>
                  <option value="0.315">0.315</option>
                  <option value="0.320">0.320</option>
                  <option value="0.325">0.325</option>
                  <option value="0.330">0.330</option>
                  <option value="0.335">0.335</option>
                  <option value="0.340">0.340</option>
                  <option value="0.345">0.345</option>
                  <option value="0.350">0.350</option>
                  <option value="0.355">0.355</option>
                  <option value="0.360">0.360</option>
                  <option value="0.365">0.365</option>
                  <option value="0.370">0.370</option>
                  <option value="0.375">0.375</option>
                  <option value="0.380">0.380</option>
                  <option value="0.385">0.385</option>
                  <option value="0.390">0.390</option>
                  <option value="0.395">0.395</option>
                  <option value="0.400">0.400</option>
                  <option value="0.405">0.405</option>
                  <option value="0.410">0.410</option>
                  <option value="0.415">0.415</option>
                  <option value="0.420">0.420</option>
                  <option value="0.425">0.425</option>
                  <option value="0.430">0.430</option>
                  <option value="0.435">0.435</option>
                  <option value="0.440">0.440</option>
                  <option value="0.445">0.445</option>
                  <option value="0.450">0.450</option>
                  <option value="0.455">0.455</option>
                  <option value="0.460">0.460</option>
                  <option value="0.465">0.465</option>
                  <option value="0.470">0.470</option>
                  <option value="0.475">0.475</option>
                  <option value="0.480">0.480</option>
                  <option value="0.485">0.485</option>
                  <option value="0.490">0.490</option>
                  <option value="0.495">0.495</option>
                  <option value="0.500">0.500</option>
                  <option value="0.505">0.505</option>
                  <option value="0.510">0.510</option>
                  <option value="0.515">0.515</option>
                  <option value="0.520">0.520</option>
                  <option value="0.525">0.525</option>
                  <option value="0.530">0.530</option>
                  <option value="0.535">0.535</option>
                  <option value="0.540">0.540</option>
                  <option value="0.545">0.545</option>
                  <option value="0.550">0.550</option>
                  <option value="0.555">0.555</option>
                  <option value="0.560">0.560</option>
                  <option value="0.565">0.565</option>
                  <option value="0.570">0.570</option>
                  <option value="0.575">0.575</option>
                  <option value="0.580">0.580</option>
                  <option value="0.585">0.585</option>
                  <option value="0.590">0.590</option>
                  <option value="0.595">0.595</option>
                  <option value="0.600">0.600</option>
                  <option value="0.605">0.605</option>
                  <option value="0.610">0.610</option>
                  <option value="0.615">0.615</option>
                  <option value="0.620">0.620</option>
                  <option value="0.625">0.625</option>
                  <option value="0.630">0.630</option>
                  <option value="0.635">0.635</option>
                  <option value="0.640">0.640</option>
                  <option value="0.645">0.645</option>
                  <option value="0.650">0.650</option>
                  <option value="0.655">0.655</option>
                  <option value="0.660">0.660</option>
                  <option value="0.665">0.665</option>
                  <option value="0.670">0.670</option>
                  <option value="0.675">0.675</option>
                  <option value="0.680">0.680</option>
                  <option value="0.685">0.685</option>
                  <option value="0.690">0.690</option>
                  <option value="0.695">0.695</option>
                  <option value="0.700">0.700</option>
                  {{/select}}
                </select>
              </div>
            </div> 

            <div class="form-group row">
              <label class="col-sm-4 control-label">Should the thresholds for the IGTT be indexed, and if so what index should be used?</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-13" name="in-13">
                  {{#select userData.in-13}}
                    <option value="No" selected="selected">No</option>
                    <option value="CPI">Consumer Price Index</option>
                    <option value="Nominal GDP">Nominal GDP</option>
                  {{/select}}
                </select> 
              </div>
            </div>

            <br />
            <br />

            <div class="form-group row">
              <label class="col-sm-4 control-label">Should charitable gifts be subject to the IGTT?</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-14" name="in-14">
                  {{#select userData.in-14}}
                  <option value="No" selected="selected">No</option>
                  <option value="Yes">Yes</option>
                  {{/select}}
                </select>
              </div>
              <div class="col-sm-4">
                
              </div>
            </div> 

            <div class="form-group row">
              <label class="col-sm-4 control-label">Should non-charitable gifts (such as gifts to family members) be subject to the IGTT?</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-15" name="in-15">
                  {{#select userData.in-15}}
                  <option value="No" selected="selected">No</option>
                  <option value="Yes">Yes</option>
                  {{/select}}
                </select>
              </div>
              <div class="col-sm-4">

              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
              
            </div>
            <div class="col-sm-4">
              <label class="small">Threshold</label>
            </div>
            <div class="col-sm-4">
              <label class="small">Rate</label>
            </div>
              <label class="col-sm-4 control-label">If charitable or non-charitable gifts are subject to the IGTT, should a tax-free threshold apply? What rate should they be taxed at?</label>
              <div class="col-sm-4">
                <select class="form-control" id="in-16" name="in-16">
                  {{#select userData.in-16}}
                   <option value="0" selected="selected">0</option>
                   <option value="1,000">1,000</option>
                   <option value="2,000">2,000</option>
                   <option value="3,000">3,000</option>
                   <option value="4,000">4,000</option>
                   <option value="5,000">5,000</option>
                   <option value="6,000">6,000</option>
                   <option value="7,000">7,000</option>
                   <option value="8,000">8,000</option>
                   <option value="9,000">9,000</option>
                   <option value="10,000">10,000</option>
                   <option value="11,000">11,000</option>
                   <option value="12,000">12,000</option>
                   <option value="13,000">13,000</option>
                   <option value="14,000">14,000</option>
                   <option value="15,000">15,000</option>
                   <option value="16,000">16,000</option>
                   <option value="17,000">17,000</option>
                   <option value="18,000">18,000</option>
                   <option value="18,200">18,200</option>
                   <option value="19,000">19,000</option>
                   <option value="20,000">20,000</option>
                   <option value="21,000">21,000</option>
                   <option value="22,000">22,000</option>
                   <option value="23,000">23,000</option>
                   <option value="24,000">24,000</option>
                   <option value="25,000">25,000</option>
                   <option value="26,000">26,000</option>
                   <option value="27,000">27,000</option>
                   <option value="28,000">28,000</option>
                   <option value="29,000">29,000</option>
                   <option value="30,000">30,000</option>
                   <option value="31,000">31,000</option>
                   <option value="32,000">32,000</option>
                   <option value="33,000">33,000</option>
                   <option value="34,000">34,000</option>
                   <option value="35,000">35,000</option>
                   <option value="36,000">36,000</option>
                   <option value="37,000">37,000</option>
                   <option value="38,000">38,000</option>
                   <option value="39,000">39,000</option>
                   <option value="40,000">40,000</option>
                   <option value="41,000">41,000</option>
                   <option value="42,000">42,000</option>
                   <option value="43,000">43,000</option>
                   <option value="44,000">44,000</option>
                   <option value="45,000">45,000</option>
                   <option value="46,000">46,000</option>
                   <option value="47,000">47,000</option>
                   <option value="48,000">48,000</option>
                   <option value="49,000">49,000</option>
                   <option value="50,000">50,000</option>
                   <option value="55,000">55,000</option>
                   <option value="60,000">60,000</option>
                   <option value="65,000">65,000</option>
                   <option value="70,000">70,000</option>
                   <option value="75,000">75,000</option>
                   <option value="80,000">80,000</option>
                   <option value="85,000">85,000</option>
                   <option value="90,000">90,000</option>
                   <option value="95,000">95,000</option>
                   <option value="100,000">100,000</option>
                   <option value="110,000">110,000</option>
                   <option value="120,000">120,000</option>
                   <option value="130,000">130,000</option>
                   <option value="140,000">140,000</option>
                   <option value="150,000">150,000</option>
                   <option value="160,000">160,000</option>
                   <option value="170,000">170,000</option>
                   <option value="180,000">180,000</option>
                   <option value="190,000">190,000</option>
                   <option value="200,000">200,000</option>
                   <option value="300,000">300,000</option>
                   <option value="400,000">400,000</option>
                   <option value="500,000">500,000</option>
                   {{/select}}
                </select>
              </div>
              <div class="col-sm-4">
                <select class="form-control" id="in-17" name="in-17">
                  {{#select userData.in-17}}
                  <option value="0" selected="selected">0</option>
                  <option value="0.050">0.050</option>
                  <option value="0.055">0.055</option>
                  <option value="0.060">0.060</option>
                  <option value="0.065">0.065</option>
                  <option value="0.070">0.070</option>
                  <option value="0.075">0.075</option>
                  <option value="0.080">0.080</option>
                  <option value="0.085">0.085</option>
                  <option value="0.090">0.090</option>
                  <option value="0.095">0.095</option>
                  <option value="0.100">0.100</option>
                  <option value="0.105">0.105</option>
                  <option value="0.110">0.110</option>
                  <option value="0.115">0.115</option>
                  <option value="0.120">0.120</option>
                  <option value="0.125">0.125</option>
                  <option value="0.130">0.130</option>
                  <option value="0.135">0.135</option>
                  <option value="0.140">0.140</option>
                  <option value="0.145">0.145</option>
                  <option value="0.150">0.150</option>
                  <option value="0.155">0.155</option>
                  <option value="0.160">0.160</option>
                  <option value="0.165">0.165</option>
                  <option value="0.170">0.170</option>
                  <option value="0.175">0.175</option>
                  <option value="0.180">0.180</option>
                  <option value="0.185">0.185</option>
                  <option value="0.190">0.190</option>
                  <option value="0.195">0.195</option>
                  <option value="0.200">0.200</option>
                  <option value="0.205">0.205</option>
                  <option value="0.210">0.210</option>
                  <option value="0.215">0.215</option>
                  <option value="0.220">0.220</option>
                  <option value="0.225">0.225</option>
                  <option value="0.230">0.230</option>
                  <option value="0.235">0.235</option>
                  <option value="0.240">0.240</option>
                  <option value="0.245">0.245</option>
                  <option value="0.250">0.250</option>
                  <option value="0.255">0.255</option>
                  <option value="0.260">0.260</option>
                  <option value="0.265">0.265</option>
                  <option value="0.270">0.270</option>
                  <option value="0.275">0.275</option>
                  <option value="0.280">0.280</option>
                  <option value="0.285">0.285</option>
                  <option value="0.290">0.290</option>
                  <option value="0.295">0.295</option>
                  <option value="0.300">0.300</option>
                  <option value="0.305">0.305</option>
                  <option value="0.310">0.310</option>
                  <option value="0.315">0.315</option>
                  <option value="0.320">0.320</option>
                  <option value="0.325">0.325</option>
                  <option value="0.330">0.330</option>
                  <option value="0.335">0.335</option>
                  <option value="0.340">0.340</option>
                  <option value="0.345">0.345</option>
                  <option value="0.350">0.350</option>
                  <option value="0.355">0.355</option>
                  <option value="0.360">0.360</option>
                  <option value="0.365">0.365</option>
                  <option value="0.370">0.370</option>
                  <option value="0.375">0.375</option>
                  <option value="0.380">0.380</option>
                  <option value="0.385">0.385</option>
                  <option value="0.390">0.390</option>
                  <option value="0.395">0.395</option>
                  <option value="0.400">0.400</option>
                  {{/select}}
                </select>
              </div>
            </div> 

            <br />
            <br />

            <div class="row calculate-btn">
              <button type="submit" class="col-sm-2 btn btn-default calc-button">Calculate</button>
              <button type="button" class="col-sm-2 btn btn-outline reset-button reset-form">Reset</button>
              <div class="col-sm-1">
                <div class="loading"  style="display:none;"></div>
              </div>
            </div>
          </form>
          <div class="results igtt"></div>

      </div>
      </div>

