<div class="container-budget" id="budget">
  <div class="inner">
    <form class="form-horizontal designing-an-igtt income-tax-test" action="#" id="income-tax" method="post"
      data-model-name="my-igtt">
      <h2>My IGTT Numbers</h2>
      <div class="form-group row">
        <label class="col-sm-6 control-label label-vertical-offset-small">How old are you now?</label>
        <div class="col-sm-6">
          <select class="form-control" id="in-1" name="in-1">
            {{#select userData.in-1}}
            <option value="0" selected="selected">-</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
            <option value="60">60</option>
            <option value="61">61</option>
            <option value="62">62</option>
            <option value="63">63</option>
            <option value="64">64</option>
            <option value="65">65</option>
            <option value="66">66</option>
            <option value="67">67</option>
            <option value="68">68</option>
            <option value="69">69</option>
            <option value="70">70</option>
            <option value="71">71</option>
            <option value="72">72</option>
            <option value="73">73</option>
            <option value="74">74</option>
            <option value="75">75</option>
            <option value="76">76</option>
            <option value="77">77</option>
            <option value="78">78</option>
            <option value="79">79</option>
            <option value="80">80</option>
            <option value="81">81</option>
            <option value="82">82</option>
            <option value="83">83</option>
            <option value="84">84</option>
            <option value="85">85</option>
            <option value="86">86</option>
            <option value="87">87</option>
            <option value="88">88</option>
            <option value="89">89</option>
            <option value="90">90</option>
            {{/select}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 control-label label-vertical-offset-small">How old will you be when you finish training
          or study and enter your chosen career? If already employed select your current age.
        </label>
        <div class="col-sm-6">
          <select class="form-control" id="in-2" name="in-2">
            {{#select userData.in-2}}
            <option value="0" selected="selected">-</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
            <option value="60">60</option>
            <option value="61">61</option>
            <option value="62">62</option>
            <option value="63">63</option>
            <option value="64">64</option>
            <option value="65">65</option>
            <option value="66">66</option>
            <option value="67">67</option>
            <option value="68">68</option>
            <option value="69">69</option>
            <option value="70">70</option>
            <option value="71">71</option>
            <option value="72">72</option>
            <option value="73">73</option>
            <option value="74">74</option>
            <option value="75">75</option>
            <option value="76">76</option>
            <option value="77">77</option>
            <option value="78">78</option>
            <option value="79">79</option>
            <option value="80">80</option>
            <option value="81">81</option>
            <option value="82">82</option>
            <option value="83">83</option>
            <option value="84">84</option>
            <option value="85">85</option>
            <option value="86">86</option>
            <option value="87">87</option>
            <option value="88">88</option>
            <option value="89">89</option>
            <option value="90">90</option>
            {{/select}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 control-label label-vertical-offset-small">How old is your father now? (If deceased
          choose "-")</label>
        <div class="col-sm-6">
          <select class="form-control" id="in-3" name="in-3">
            {{#select userData.in-3}}
            <option value="-" selected="selected">-</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
            <option value="60">60</option>
            <option value="61">61</option>
            <option value="62">62</option>
            <option value="63">63</option>
            <option value="64">64</option>
            <option value="65">65</option>
            <option value="66">66</option>
            <option value="67">67</option>
            <option value="68">68</option>
            <option value="69">69</option>
            <option value="70">70</option>
            <option value="71">71</option>
            <option value="72">72</option>
            <option value="73">73</option>
            <option value="74">74</option>
            <option value="75">75</option>
            <option value="76">76</option>
            <option value="77">77</option>
            <option value="78">78</option>
            <option value="79">79</option>
            <option value="80">80</option>
            <option value="81">81</option>
            <option value="82">82</option>
            <option value="83">83</option>
            <option value="84">84</option>
            <option value="85">85</option>
            <option value="86">86</option>
            <option value="87">87</option>
            <option value="88">88</option>
            <option value="89">89</option>
            <option value="90">90</option>
            <option value="91">91</option>
            <option value="92">92</option>
            <option value="93">93</option>
            <option value="94">94</option>
            <option value="95">95</option>
            <option value="96">96</option>
            <option value="97">97</option>
            <option value="98">98</option>
            <option value="99">99</option>
            <option value="100">100</option>
            <option value="101">101</option>
            <option value="102">102</option>
            <option value="103">103</option>
            <option value="104">104</option>
            <option value="105">105</option>
            <option value="106">106</option>
            <option value="107">107</option>
            <option value="108">108</option>
            <option value="109">109</option>
            <option value="110">110</option>
            {{/select}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 control-label label-vertical-offset-small">How old is your mother now? (If deceased
          choose "-")</label>
        <div class="col-sm-6">
          <select class="form-control" id="in-4" name="in-4">
            {{#select userData.in-4}}
            <option value="-" selected="selected">-</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
            <option value="60">60</option>
            <option value="61">61</option>
            <option value="62">62</option>
            <option value="63">63</option>
            <option value="64">64</option>
            <option value="65">65</option>
            <option value="66">66</option>
            <option value="67">67</option>
            <option value="68">68</option>
            <option value="69">69</option>
            <option value="70">70</option>
            <option value="71">71</option>
            <option value="72">72</option>
            <option value="73">73</option>
            <option value="74">74</option>
            <option value="75">75</option>
            <option value="76">76</option>
            <option value="77">77</option>
            <option value="78">78</option>
            <option value="79">79</option>
            <option value="80">80</option>
            <option value="81">81</option>
            <option value="82">82</option>
            <option value="83">83</option>
            <option value="84">84</option>
            <option value="85">85</option>
            <option value="86">86</option>
            <option value="87">87</option>
            <option value="88">88</option>
            <option value="89">89</option>
            <option value="90">90</option>
            <option value="91">91</option>
            <option value="92">92</option>
            <option value="93">93</option>
            <option value="94">94</option>
            <option value="95">95</option>
            <option value="96">96</option>
            <option value="97">97</option>
            <option value="98">98</option>
            <option value="99">99</option>
            <option value="100">100</option>
            <option value="101">101</option>
            <option value="102">102</option>
            <option value="103">103</option>
            <option value="104">104</option>
            <option value="105">105</option>
            <option value="106">106</option>
            <option value="107">107</option>
            <option value="108">108</option>
            <option value="109">109</option>
            <option value="110">110</option>
            {{/select}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 control-label label-vertical-offset-small">How many brothers and sisters do you have?
          (include yourself in this number)</label>
        <div class="col-sm-6">
          <select class="form-control" id="in-5" name="in-5">
            {{#select userData.in-5}}
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            {{/select}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 control-label">What is your current gross (i.e. pre-tax) annual income? If still
          studying/training, estimate your career starting salary.</label>
        <div class="col-sm-6">
          <select class="form-control" id="in-6" name="in-6">
            {{#select userData.in-6}}
            <option value="0" selected="selected">0</option>
            <option value="18,000">18,000</option>
            <option value="19,000">19,000</option>
            <option value="20,000">20,000</option>
            <option value="21,000">21,000</option>
            <option value="22,000">22,000</option>
            <option value="23,000">23,000</option>
            <option value="24,000">24,000</option>
            <option value="25,000">25,000</option>
            <option value="26,000">26,000</option>
            <option value="27,000">27,000</option>
            <option value="28,000">28,000</option>
            <option value="29,000">29,000</option>
            <option value="30,000">30,000</option>
            <option value="31,000">31,000</option>
            <option value="32,000">32,000</option>
            <option value="33,000">33,000</option>
            <option value="34,000">34,000</option>
            <option value="35,000">35,000</option>
            <option value="36,000">36,000</option>
            <option value="37,000">37,000</option>
            <option value="38,000">38,000</option>
            <option value="39,000">39,000</option>
            <option value="40,000">40,000</option>
            <option value="41,000">41,000</option>
            <option value="42,000">42,000</option>
            <option value="43,000">43,000</option>
            <option value="44,000">44,000</option>
            <option value="45,000">45,000</option>
            <option value="46,000">46,000</option>
            <option value="47,000">47,000</option>
            <option value="48,000">48,000</option>
            <option value="49,000">49,000</option>
            <option value="50,000">50,000</option>
            <option value="51,000">51,000</option>
            <option value="52,000">52,000</option>
            <option value="53,000">53,000</option>
            <option value="54,000">54,000</option>
            <option value="55,000">55,000</option>
            <option value="56,000">56,000</option>
            <option value="57,000">57,000</option>
            <option value="58,000">58,000</option>
            <option value="59,000">59,000</option>
            <option value="60,000">60,000</option>
            <option value="61,000">61,000</option>
            <option value="62,000">62,000</option>
            <option value="63,000">63,000</option>
            <option value="64,000">64,000</option>
            <option value="65,000">65,000</option>
            <option value="66,000">66,000</option>
            <option value="67,000">67,000</option>
            <option value="68,000">68,000</option>
            <option value="69,000">69,000</option>
            <option value="70,000">70,000</option>
            <option value="71,000">71,000</option>
            <option value="72,000">72,000</option>
            <option value="73,000">73,000</option>
            <option value="74,000">74,000</option>
            <option value="75,000">75,000</option>
            <option value="76,000">76,000</option>
            <option value="77,000">77,000</option>
            <option value="78,000">78,000</option>
            <option value="79,000">79,000</option>
            <option value="80,000">80,000</option>
            <option value="81,000">81,000</option>
            <option value="82,000">82,000</option>
            <option value="83,000">83,000</option>
            <option value="84,000">84,000</option>
            <option value="85,000">85,000</option>
            <option value="86,000">86,000</option>
            <option value="87,000">87,000</option>
            <option value="88,000">88,000</option>
            <option value="89,000">89,000</option>
            <option value="90,000">90,000</option>
            <option value="91,000">91,000</option>
            <option value="92,000">92,000</option>
            <option value="93,000">93,000</option>
            <option value="94,000">94,000</option>
            <option value="95,000">95,000</option>
            <option value="96,000">96,000</option>
            <option value="97,000">97,000</option>
            <option value="98,000">98,000</option>
            <option value="99,000">99,000</option>
            <option value="100,000">100,000</option>
            <option value="101,000">101,000</option>
            <option value="102,000">102,000</option>
            <option value="103,000">103,000</option>
            <option value="104,000">104,000</option>
            <option value="105,000">105,000</option>
            <option value="106,000">106,000</option>
            <option value="107,000">107,000</option>
            <option value="108,000">108,000</option>
            <option value="109,000">109,000</option>
            <option value="110,000">110,000</option>
            <option value="111,000">111,000</option>
            <option value="112,000">112,000</option>
            <option value="113,000">113,000</option>
            <option value="114,000">114,000</option>
            <option value="115,000">115,000</option>
            <option value="116,000">116,000</option>
            <option value="117,000">117,000</option>
            <option value="118,000">118,000</option>
            <option value="119,000">119,000</option>
            <option value="120,000">120,000</option>
            <option value="121,000">121,000</option>
            <option value="122,000">122,000</option>
            <option value="123,000">123,000</option>
            <option value="124,000">124,000</option>
            <option value="125,000">125,000</option>
            <option value="126,000">126,000</option>
            <option value="127,000">127,000</option>
            <option value="128,000">128,000</option>
            <option value="129,000">129,000</option>
            <option value="130,000">130,000</option>
            <option value="131,000">131,000</option>
            <option value="132,000">132,000</option>
            <option value="133,000">133,000</option>
            <option value="134,000">134,000</option>
            <option value="135,000">135,000</option>
            <option value="136,000">136,000</option>
            <option value="137,000">137,000</option>
            <option value="138,000">138,000</option>
            <option value="139,000">139,000</option>
            <option value="140,000">140,000</option>
            <option value="141,000">141,000</option>
            <option value="142,000">142,000</option>
            <option value="143,000">143,000</option>
            <option value="144,000">144,000</option>
            <option value="145,000">145,000</option>
            <option value="146,000">146,000</option>
            <option value="147,000">147,000</option>
            <option value="148,000">148,000</option>
            <option value="149,000">149,000</option>
            <option value="150,000">150,000</option>
            <option value="151,000">151,000</option>
            <option value="152,000">152,000</option>
            <option value="153,000">153,000</option>
            <option value="154,000">154,000</option>
            <option value="155,000">155,000</option>
            <option value="156,000">156,000</option>
            <option value="157,000">157,000</option>
            <option value="158,000">158,000</option>
            <option value="159,000">159,000</option>
            <option value="160,000">160,000</option>
            <option value="161,000">161,000</option>
            <option value="162,000">162,000</option>
            <option value="163,000">163,000</option>
            <option value="164,000">164,000</option>
            <option value="165,000">165,000</option>
            <option value="166,000">166,000</option>
            <option value="167,000">167,000</option>
            <option value="168,000">168,000</option>
            <option value="169,000">169,000</option>
            <option value="170,000">170,000</option>
            <option value="171,000">171,000</option>
            <option value="172,000">172,000</option>
            <option value="173,000">173,000</option>
            <option value="174,000">174,000</option>
            <option value="175,000">175,000</option>
            <option value="176,000">176,000</option>
            <option value="177,000">177,000</option>
            <option value="178,000">178,000</option>
            <option value="179,000">179,000</option>
            <option value="180,000">180,000</option>
            <option value="181,000">181,000</option>
            <option value="182,000">182,000</option>
            <option value="183,000">183,000</option>
            <option value="184,000">184,000</option>
            <option value="185,000">185,000</option>
            <option value="186,000">186,000</option>
            <option value="187,000">187,000</option>
            <option value="188,000">188,000</option>
            <option value="189,000">189,000</option>
            <option value="190,000">190,000</option>
            <option value="191,000">191,000</option>
            <option value="192,000">192,000</option>
            <option value="193,000">193,000</option>
            <option value="194,000">194,000</option>
            <option value="195,000">195,000</option>
            <option value="196,000">196,000</option>
            <option value="197,000">197,000</option>
            <option value="198,000">198,000</option>
            <option value="199,000">199,000</option>
            <option value="200,000">200,000</option>
            <option value="201,000">201,000</option>
            <option value="202,000">202,000</option>
            <option value="203,000">203,000</option>
            <option value="204,000">204,000</option>
            <option value="205,000">205,000</option>
            <option value="206,000">206,000</option>
            <option value="207,000">207,000</option>
            <option value="208,000">208,000</option>
            <option value="209,000">209,000</option>
            <option value="210,000">210,000</option>
            <option value="211,000">211,000</option>
            <option value="212,000">212,000</option>
            <option value="213,000">213,000</option>
            <option value="214,000">214,000</option>
            <option value="215,000">215,000</option>
            <option value="216,000">216,000</option>
            <option value="217,000">217,000</option>
            <option value="218,000">218,000</option>
            <option value="219,000">219,000</option>
            <option value="220,000">220,000</option>
            <option value="221,000">221,000</option>
            <option value="222,000">222,000</option>
            <option value="223,000">223,000</option>
            <option value="224,000">224,000</option>
            <option value="225,000">225,000</option>
            <option value="226,000">226,000</option>
            <option value="227,000">227,000</option>
            <option value="228,000">228,000</option>
            <option value="229,000">229,000</option>
            <option value="230,000">230,000</option>
            <option value="231,000">231,000</option>
            <option value="232,000">232,000</option>
            <option value="233,000">233,000</option>
            <option value="234,000">234,000</option>
            <option value="235,000">235,000</option>
            <option value="236,000">236,000</option>
            <option value="237,000">237,000</option>
            <option value="238,000">238,000</option>
            <option value="239,000">239,000</option>
            <option value="240,000">240,000</option>
            <option value="241,000">241,000</option>
            <option value="242,000">242,000</option>
            <option value="243,000">243,000</option>
            <option value="244,000">244,000</option>
            <option value="245,000">245,000</option>
            <option value="246,000">246,000</option>
            <option value="247,000">247,000</option>
            <option value="248,000">248,000</option>
            <option value="249,000">249,000</option>
            <option value="250,000">250,000</option>
            <option value="251,000">251,000</option>
            <option value="252,000">252,000</option>
            <option value="253,000">253,000</option>
            <option value="254,000">254,000</option>
            <option value="255,000">255,000</option>
            <option value="256,000">256,000</option>
            <option value="257,000">257,000</option>
            <option value="258,000">258,000</option>
            <option value="259,000">259,000</option>
            <option value="260,000">260,000</option>
            <option value="261,000">261,000</option>
            <option value="262,000">262,000</option>
            <option value="263,000">263,000</option>
            <option value="264,000">264,000</option>
            <option value="265,000">265,000</option>
            <option value="266,000">266,000</option>
            <option value="267,000">267,000</option>
            <option value="268,000">268,000</option>
            <option value="269,000">269,000</option>
            <option value="270,000">270,000</option>
            <option value="271,000">271,000</option>
            <option value="272,000">272,000</option>
            <option value="273,000">273,000</option>
            <option value="274,000">274,000</option>
            <option value="275,000">275,000</option>
            <option value="276,000">276,000</option>
            <option value="277,000">277,000</option>
            <option value="278,000">278,000</option>
            <option value="279,000">279,000</option>
            <option value="280,000">280,000</option>
            <option value="281,000">281,000</option>
            <option value="282,000">282,000</option>
            <option value="283,000">283,000</option>
            <option value="284,000">284,000</option>
            <option value="285,000">285,000</option>
            <option value="286,000">286,000</option>
            <option value="287,000">287,000</option>
            <option value="288,000">288,000</option>
            <option value="289,000">289,000</option>
            <option value="290,000">290,000</option>
            <option value="291,000">291,000</option>
            <option value="292,000">292,000</option>
            <option value="293,000">293,000</option>
            <option value="294,000">294,000</option>
            <option value="295,000">295,000</option>
            <option value="296,000">296,000</option>
            <option value="297,000">297,000</option>
            <option value="298,000">298,000</option>
            <option value="299,000">299,000</option>
            <option value="300,000">300,000</option>

            {{/select}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 control-label label-vertical-offset-small">What is your expected real income growth
          profile?</label>
        <div class="col-sm-6">
          <select class="form-control" id="in-7" name="in-7">
            {{#select userData.in-7}}
            <option value="Nil">Nil</option>
            <option value="Low">Low</option>
            <option value="Steady" selected="selected">Steady</option>
            <option value="High">High</option>
            <option value="Very High">Very high</option>
            {{/select}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 control-label label-vertical-offset-small">What is the expected value of your parent's
          estate in todays $s?</label>
        <div class="col-sm-6">
          <select class="form-control" id="in-8" name="in-8">
            {{#select userData.in-8}}
            <option value="0" selected="selected">0</option>
            <option value="10,000">10,000</option>
            <option value="20,000">20,000</option>
            <option value="30,000">30,000</option>
            <option value="40,000">40,000</option>
            <option value="50,000">50,000</option>
            <option value="100,000">100,000</option>
            <option value="150,000">150,000</option>
            <option value="200,000">200,000</option>
            <option value="250,000">250,000</option>
            <option value="300,000">300,000</option>
            <option value="350,000">350,000</option>
            <option value="400,000">400,000</option>
            <option value="450,000">450,000</option>
            <option value="500,000">500,000</option>
            <option value="550,000">550,000</option>
            <option value="600,000">600,000</option>
            <option value="650,000">650,000</option>
            <option value="700,000">700,000</option>
            <option value="750,000">750,000</option>
            <option value="800,000">800,000</option>
            <option value="850,000">850,000</option>
            <option value="900,000">900,000</option>
            <option value="950,000">950,000</option>
            <option value="1,000,000">1,000,000</option>
            <option value="1,100,000">1,100,000</option>
            <option value="1,200,000">1,200,000</option>
            <option value="1,300,000">1,300,000</option>
            <option value="1,400,000">1,400,000</option>
            <option value="1,500,000">1,500,000</option>
            <option value="1,600,000">1,600,000</option>
            <option value="1,700,000">1,700,000</option>
            <option value="1,800,000">1,800,000</option>
            <option value="1,900,000">1,900,000</option>
            <option value="2,000,000">2,000,000</option>
            <option value="2,100,000">2,100,000</option>
            <option value="2,200,000">2,200,000</option>
            <option value="2,300,000">2,300,000</option>
            <option value="2,400,000">2,400,000</option>
            <option value="2,500,000">2,500,000</option>
            <option value="2,600,000">2,600,000</option>
            <option value="2,700,000">2,700,000</option>
            <option value="2,800,000">2,800,000</option>
            <option value="2,900,000">2,900,000</option>
            <option value="3,000,000">3,000,000</option>
            <option value="3,100,000">3,100,000</option>
            <option value="3,200,000">3,200,000</option>
            <option value="3,300,000">3,300,000</option>
            <option value="3,400,000">3,400,000</option>
            <option value="3,500,000">3,500,000</option>
            <option value="3,600,000">3,600,000</option>
            <option value="3,700,000">3,700,000</option>
            <option value="3,800,000">3,800,000</option>
            <option value="3,900,000">3,900,000</option>
            <option value="4,000,000">4,000,000</option>
            <option value="4,100,000">4,100,000</option>
            <option value="4,200,000">4,200,000</option>
            <option value="4,300,000">4,300,000</option>
            <option value="4,400,000">4,400,000</option>
            <option value="4,500,000">4,500,000</option>
            <option value="4,600,000">4,600,000</option>
            <option value="4,700,000">4,700,000</option>
            <option value="4,800,000">4,800,000</option>
            <option value="4,900,000">4,900,000</option>
            <option value="5,000,000">5,000,000</option>
            <option value="6,000,000">6,000,000</option>
            <option value="7,000,000">7,000,000</option>
            <option value="8,000,000">8,000,000</option>
            <option value="9,000,000">9,000,000</option>
            <option value="10,000,000">10,000,000</option>
            {{/select}}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-6 control-label label-vertical-offset-small">Will your parents give a proportion of their
          estate away to people or organisations other than their children?</label>
        <div class="col-sm-6">
          <select class="form-control" id="in-9" name="in-9">
            {{#select userData.in-9}}
            <option value="0%" selected="selected">0%</option>
            <option value="5%">5%</option>
            <option value="10%">10%</option>
            <option value="15%">15%</option>
            <option value="20%">20%</option>
            <option value="25%">25%</option>
            <option value="30%">30%</option>
            <option value="35%">35%</option>
            <option value="40%">40%</option>
            <option value="45%">45%</option>
            <option value="50%">50%</option>
            <option value="55%">55%</option>
            <option value="60%">60%</option>
            <option value="65%">65%</option>
            <option value="70%">70%</option>
            <option value="75%">75%</option>
            <option value="80%">80%</option>
            <option value="85%">85%</option>
            <option value="90%">90%</option>
            <option value="95%">95%</option>
            <option value="100%">100%</option>
            {{/select}}
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-6 control-label label-vertical-offset-small">Discount Rate</label>
        <div class="col-sm-6">
          <select class="form-control" id="in-10" name="in-10">
            {{#select userData.in-10}}
            <option value="0.0%" selected="selected">0.0%</option>
            <option value="1.0%">1.0%</option>
            <option value="1.5%">1.5%</option>
            <option value="2.0%">2.0%</option>
            <option value="2.5%">2.5%</option>
            <option value="3.0%">3.0%</option>
            <option value="3.5%">3.5%</option>
            <option value="4.0%">4.0%</option>
            <option value="4.5%">4.5%</option>
            <option value="5.0%">5.0%</option>
            <option value="5.5%">5.5%</option>
            <option value="6.0%">6.0%</option>
            <option value="6.5%">6.5%</option>
            <option value="7.0%">7.0%</option>
            <option value="7.5%">7.5%</option>
            <option value="8.0%">8.0%</option>
            <option value="8.5%">8.5%</option>
            <option value="9.0%">9.0%</option>
            <option value="9.5%">9.5%</option>
            <option value="10.0%">10.0%</option>
            {{/select}}
          </select>
        </div>
      </div>

      <br />
      <br />

      <div class="row calculate-btn">
        <button type="submit" class="col-sm-2 btn btn-default calc-button">Calculate</button>
        <button type="button" class="col-sm-2 btn btn-outline reset-button reset-form">Reset</button>

        <div class="col-sm-1">
          <div class="loading" style="display:none;"></div>
        </div>
      </div>
    </form>
    <div class="results my-igtt"></div>
  </div>
</div>