<div>
  <h4>Probability that you will be better off under an IGTT with lower income tax rates:</h4>
  <table class="table">
    <tr class="table-heading">
      <th></th>
      <th class="text-center">Flat 10% IGTT</th>
      <th class="text-center">Flat 20% IGTT</th>
      <th class="text-center">Flat 30% IGTT</th>
      <th class="text-center">Flat 40% IGTT</th>
    </tr>
    <tr>
      <th></th>
      <td class="text-center">{{my-igtt.out-24}}</td>
      <td class="text-center">{{my-igtt.out-25}}</td>
      <td class="text-center">{{my-igtt.out-26}}</td>
      <td class="text-center">{{my-igtt.out-27}}</td>
    </tr>
  </table>
</div>

<div class="inner">
  <p>Your specific results are shown below. Your total after-tax income to age 67 based on the current income tax scales
    is contrasted with alternative after-tax income assuming an IGTT with flat rates of 10%, 20%, 30% or 40% (with a
    tax-free threshold of $18,200; non-charitable gifts subject to tax.)</p>
</div>


<div>
  <table class="table">
    <tr class="table-heading">
      <th class="text-center">Scenario</th>
      <th class="text-center">After-Tax Income</th>
      <th class="text-center">After-Tax Inheritance</th>
      <th class="text-center">After-Tax Total</th>
      <th class="text-center">Variation</th>
      <th class="text-center">Variation %</th>
    </tr>
    <tr>
      <th>Current Income Tax Scales, no IGTT</th>
      <td class="text-center">{{my-igtt.out-1}}</td>
      <td class="text-center">{{my-igtt.out-2}}</td>
      <td class="text-center">{{my-igtt.out-3}}</td>
      <td class="text-center"></td>
      <td class="text-center total-cell"></td>
    </tr>

    <tr>
      <th>Revised Income Tax Scales, Flat IGTT at 10%, $18,200 TFT</th>
      <td class="text-center">{{my-igtt.out-4}}</td>
      <td class="text-center">{{my-igtt.out-5}}</td>
      <td class="text-center">{{my-igtt.out-6}}</td>
      <td class="text-center">{{my-igtt.out-7}}</td>
      <td class="text-center total-cell">{{my-igtt.out-8}}</td>
    </tr>

    <tr>
      <th>Revised Income Tax Scales, Flat IGTT at 20%, $18,200 TFT</th>
      <td class="text-center">{{my-igtt.out-9}}</td>
      <td class="text-center">{{my-igtt.out-10}}</td>
      <td class="text-center">{{my-igtt.out-11}}</td>
      <td class="text-center">{{my-igtt.out-12}}</td>
      <td class="text-center total-cell">{{my-igtt.out-13}}</td>
    </tr>

    <tr>
      <th>Revised Income Tax Scales, Flat IGTT at 30%, $18,200 TFT</th>
      <td class="text-center">{{my-igtt.out-14}}</td>
      <td class="text-center">{{my-igtt.out-15}}</td>
      <td class="text-center">{{my-igtt.out-16}}</td>
      <td class="text-center">{{my-igtt.out-17}}</td>
      <td class="text-center total-cell">{{my-igtt.out-18}}</td>
    </tr>

    <tr>
      <th>Revised Income Tax Scales, Flat IGTT at 40%, $18,200 TFT</th>
      <td class="text-center">{{my-igtt.out-19}}</td>
      <td class="text-center">{{my-igtt.out-20}}</td>
      <td class="text-center">{{my-igtt.out-21}}</td>
      <td class="text-center">{{my-igtt.out-22}}</td>
      <td class="text-center total-cell">{{my-igtt.out-23}}</td>
    </tr>
  </table>
</div>