<div>
  <h4>IGTT Revenue $ Million</h4>
  <table class="table">
    <tr class="table-heading">
      <th></th>
      <th class="text-center">2018-19</th>
      <th class="text-center">2019-20</th>
      <th class="text-center">2020-21</th>
      <th class="text-center">2021-22</th>
      <th class="text-center">Total</th>
    </tr>
    <tr>
      <th>My IGTT Estimate</th>
      <td class="text-center">{{igtt.out-1}}</td>
      <td class="text-center">{{igtt.out-2}}</td>
      <td class="text-center">{{igtt.out-3}}</td>
      <td class="text-center">{{igtt.out-4}}</td>
      <td class="text-center total-cell">{{igtt.out-5}}</td>
    </tr>

    <tr>
      <th>IGTT Flat 10%</th>
      <td class="text-center">7,038</td>
      <td class="text-center">7,561</td>
      <td class="text-center">8,115</td>
      <td class="text-center">8,708</td>
      <td class="text-center total-cell">31,422</td>
    </tr>

    <tr>
      <th>IGTT Flat 20%</th>
      <td class="text-center">14,077</td>
      <td class="text-center">15,122</td>
      <td class="text-center">16,230</td>
      <td class="text-center">17,414</td>
      <td class="text-center total-cell">62,843</td>
    </tr>

    <tr>
      <th>IGTT Flat 30%</th>
      <td class="text-center">21,116</td>
      <td class="text-center">22,684</td>
      <td class="text-center">24,345</td>
      <td class="text-center">26,122</td>
      <td class="text-center total-cell">94,267</td>
    </tr>

    <tr>
      <th>IGTT Flat 40%</th>
      <td class="text-center">28,155</td>
      <td class="text-center">30,245</td>
      <td class="text-center">32,460</td>
      <td class="text-center">34,830</td>
      <td class="text-center total-cell">125,690</td>
    </tr>
  </table>
</div>