<div>
  <h4>IGTT Revenue and Income Tax Revenue $ Million</h4>
  <table class="table">
    <tr class="table-heading">
      <th></th>
      <th class="text-center">2018-19</th>
      <th class="text-center">2019-20</th>
      <th class="text-center">2020-21</th>
      <th class="text-center">2021-22</th>
      <th class="text-center">Total</th>
    </tr>

    <tr>
      <th>Current Income Tax</th>
      <td class="text-center">218,000</td>
      <td class="text-center">228,600</td>
      <td class="text-center">245,100</td>
      <td class="text-center">262,500</td>
      <td class="text-center total-cell">954,200</td>
    </tr>

    <tr>
      <th></th>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
      <td class="text-center total-cell"> </td>
    </tr>

    <tr>
      <th class="subhead">My IGTT Revenue</th>
      <td class="text-center">{{igtt.out-1}}</td>
      <td class="text-center">{{igtt.out-2}}</td>
      <td class="text-center">{{igtt.out-3}}</td>
      <td class="text-center">{{igtt.out-4}}</td>
      <td class="text-center total-cell">{{igtt.out-5}}</td>
    </tr>

    <tr>
      <th class="subhead">My Alternative Income Tax</th>
      <td class="text-center">{{income-tax.out-6}}</td>
      <td class="text-center">{{income-tax.out-7}}</td>
      <td class="text-center">{{income-tax.out-8}}</td>
      <td class="text-center">{{income-tax.out-9}}</td>
      <td class="text-center total-cell">{{income-tax.out-10}}</td>
    </tr>

    <tr>
      <th class="subhead">My Combined IGTT &amp; Income Tax</th>
      <td class="text-center">{{math igttValues.out-1 "+" modelValues.out-6 "+" 0}}</td>
      <td class="text-center">{{math igttValues.out-2 "+" modelValues.out-7 "+" 0}}</td>
      <td class="text-center">{{math igttValues.out-3 "+" modelValues.out-8 "+" 0}}</td>
      <td class="text-center">{{math igttValues.out-4 "+" modelValues.out-9 "+" 0}}</td>
      <td class="text-center total-cell">{{math igttValues.out-5 "+" modelValues.out-10 "+" 0}}</td>
    </tr>

    <tr>
      <th class="subhead"> </th>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
      <td class="text-center"> </td>
      <td class="text-center total-cell"> </td>
    </tr>

    <tr>
      <th class="subhead">Variation</th>
      <td class="text-center">{{math igttValues.out-1 "+" modelValues.out-6 "-" 218000}}</td>
      <td class="text-center">{{math igttValues.out-2 "+" modelValues.out-7 "-" 228600}}</td>
      <td class="text-center">{{math igttValues.out-3 "+" modelValues.out-8 "-" 245100}}</td>
      <td class="text-center">{{math igttValues.out-4 "+" modelValues.out-9 "-" 262500}}</td>
      <td class="text-center total-cell">{{math igttValues.out-5 "+" modelValues.out-10 "-" 954200}}</td>
    </tr>
  </table>
</div>